<br><br><br><br>

<div *ngIf="!loading" class="container">
	<!-- <h2 class="text-center"><i class="material-icons">dashboard</i> Catálogo de cursos</h2> -->
	<div class="form-group">
		<div class="row">
			<div class="col">
				<input type="text" class="form-control" #wordcode placeholder="Teclea aquí alguna palabra del curso que buscas" (keyup)="findCourse(wordcode.value)">
			</div>
		</div>
		<div class="row">
			<div class="col">
				<span
					class="badge pointme"
					*ngFor="let cat of categories"
					(click)="displayByCategory(cat);"
					[ngClass]="{'badge-danger': cat === category,'badge-primary': cat !== category}"
					>{{cat}}</span>
			</div>
		</div>
	</div>
</div>

<div *ngIf="loading">
	<div class="row text-center m-5">
		<div class="col ">
			<i class="fas fa-sync fa-spin fa-5x"></i>
		</div>
	</div>
	<div class="row text-center">
		<div class="col">
			<h1>Cargando componentes ... </h1>
		</div>
	</div>
</div>

<div *ngIf="!loading && !isFindOk && !messageNotFound" class="container">
	<div class="card-deck">
		<div *ngFor="let crs of selectedCourses, let id=index">
			<div
				class="card bg-transparent shadow-none"
				style="width:240px;max-width:240px;"
				*ngIf="crs.isVisible && crs.status === 'published'"
				>
				<a class="pointme" (click)="verCurso(crs._id);">
					<img class="card-img-top" [src]="crs.image" alt="Card image cap">
					<div class="card-body p-0">
						<div class="container">
							<div class="row">
								<div class="col p-0">
									<h6 class="card-title text-dark">{{crs.code}}</h6>
									<p class="card-text text-dark">{{crs.title}}</p>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>

<div *ngIf="!loading && isFindOk" class="container">
	<div *ngFor="let item of course" class="row">
		<div class="col-md-4">
			<hr>
			<img [src]="item.image" class="imagenesCurso img-fluid">
		</div>
		<div class="col-md-8">
			<hr>
			<h3>{{item.title}}</h3>
			<div [innerHTML]="item.description">

			</div>
			<hr>
			<div class="row">
				<div class="col">
					<h6>Imparte <small>{{instanceNameCase}}</small></h6>
				</div>
				<div class="col">
					<h6>Categorías <small>{{item.categories}}</small></h6>
				</div>
				<div class="col">
					<h6>CLAVE <small>{{item.code}}</small></h6>
				</div>
				<div class="col">
					<h6>Grupo <small>Grupo</small> </h6>
				</div>
			</div>
			<button (click)="verCurso(item._id)" type="button" class="btn btn-{{color}}">
				Ir al curso
				<i class="far fa-arrow-alt-circle-right"></i>
			</button>
		</div>
	</div>
</div>
<div *ngIf="!loading && !isFindOk && messageNotFound!=null" class="container">
	<div class="alert alert-warning text-center" role="alert">
		<h1><i class="fas fa-frown-open"></i> {{messageNotFound}}</h1>
	</div>
</div>
