<acl-navbar></acl-navbar>
<section class="pt-5 mt-3 align-items-start d-flex">
	<div class="container-fluid">
		<div class="card border-0" style="background-image: linear-gradient(lightcyan,white);">
			<img src="assets/img/freshservice-home-banner.svg">
			<div class="card-img-overlay">
				<div class="row justify-content-center align-items-start d-flex text-center h-100">
					<div class="col-12 col-md-6 h-50 ">
						<!-- <h1 class="mb-1 mt-1"><strong>Freshservice</strong></h1> -->
						<img src="assets/img/freshservice_small.png" alt="Freshservice">
						<p class="lead mb-5">Una mesa de servicio verdaderamente fácil de usar</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="pt-1 pb-5">
	<div class="container">
		<div class="row d-flex">
			<div class="col-md-12">
				<div class="card border-0">
					<div class="card-body p-4">
						<div class="row d-flex equal align-items-center">
							<div class="col-md-12 text-center">
								<h4 class="pb-2 h3 mb-1 mt-1">¿Listo para comenzar?</h4>
								<p class=" ">Comienza hoy mismo a usar Freshservice. Te regalamos 21 días para que lo conozcas. Sin compromisos.
								</p>
							</div>
							<div class="col-md-12  text-center">
								<a href="https://freshservice.com/signup/partners-aclsystems" class="btn btn-xs btn-round btn-warning btn-rised  ">Inicia GRATIS</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="text-dark pt-5 pb-5">
	<div class="container">
		<div class="row d-flex equal align-items-center">
			<div class="col-md-12 text-center">
				<h4 class="pb-2 h3 mb-1 mt-1">Todo lo que necesitas para gestionar TI</h4>
			</div>
		</div>
		<div class="row justify-content-center  d-flex text-center mt-5">
			<div class="col-md-4 col-feature">
				<div class=" rounded-circle justify-center border border-secondary d-inline-block p-4 mb-4">
					<em class="far fa-2x fa-desktop text-dark "></em>
				</div>
				<h5>Fácil de usar y de configurar</h5>
				<p class="text-justify text-muted" style="font-size:14px;">La interfaz moderna e intuitiva de Freshservice requiere entrenamiento mínimo o nada y se customiza para las necesidades de TI y de otras áreas</p>
				<!-- <p>
					<a class="btn btn-md btn-outline-primary mt-2" href="#" role="button">View details</a>
				</p> -->
			</div>
			<div class="col-md-4 col-feature">
				<div class=" rounded-circle justify-center border border-secondary d-inline-block p-4 mb-4">
					<em class="fa fa-2x fa-chart-network text-dark"></em>
				</div>
				<h5>Soporte multicanal</h5>
				<p class="text-justify text-muted" style="font-size:14px;">Automatiza tareas y provee soporte para casos levantados desde email, el portal de autoservicio, teléfono, chat o en persona</p>
				<!-- <p>
					<a class="btn btn-md btn-outline-primary mt-2" href="#" role="button">View details</a>
				</p> -->
			</div>
			<div class="col-md-4 col-feature">
				<div class=" rounded-circle justify-center border border-secondary d-inline-block p-4 mb-4">
					<em class="fa fa-2x fa-trophy-alt text-dark"></em>
				</div>
				<h5>Gamifica tu mesa de servicio</h5>
				<p class="text-justify text-muted" style="font-size:14px;">Convierte tu mesa de servicio en una experiencia atractiva y divertida para tus agentes</p>
			</div>
		</div>
		<div class="row justify-content-center  d-flex text-center mt-5">
			<div class="col-md-4 col-feature">
				<div class=" rounded-circle justify-center border border-secondary d-inline-block p-4 mb-4">
					<em class="fa fa-2x fa-hand-point-up text-dark"></em>
				</div>
				<h5>Información a tu alcance</h5>
				<p class="text-justify text-muted" style="font-size:14px;">Manten registros de contratos, hardware, software y de otros activos, incluyendo detalles desde la adquisición hasta la expiración</p>
			</div>
			<div class="col-md-4 col-md-offset-2 col-feature">
				<div class=" rounded-circle justify-center border border-secondary d-inline-block p-4 mb-4">
					<em class="fa fa-2x fa-phone-laptop text-dark"></em>
				</div>
				<h5>Aplicación móvil</h5>
				<p class="text-justify text-muted" style="font-size:14px;">Utiliza la aplicación móvil <span class="text-primary">GRATIS</span> en cualquier plan y da soporte a tus empleados de alto impacto desde cualquier lugar</p>
			</div>
		</div>
	</div>
</section>
<section class="pt-5 pb-5">
	<div class="container">
		<div class="row d-flex equal align-items-center">
			<div class="col-md-12 text-center">
				<h4 class="pb-2 h3 mb-1 mt-1">Y, ¿por qué Freshservice?</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-12">
				<div class="list-group" id="list-tab" role="tablist">
					<a class="list-group-item list-group-item-action active show" id="list-prod-list" data-toggle="tab" href="#list-prod" role="tab" aria-controls="list-prod" aria-expanded="true" aria-selected="true">Incrementa la productividad de tus agentes</a>
					<a class="list-group-item list-group-item-action" id="list-auto-list" data-toggle="tab" href="#list-auto" role="tab" aria-controls="list-auto" aria-expanded="false" aria-selected="false">Automatiza procesos</a>
					<a class="list-group-item list-group-item-action" id="list-cmdb-list" data-toggle="tab" href="#list-cmdb" role="tab" aria-controls="list-cmdb" aria-expanded="false" aria-selected="false">Obtén el máximo de tu CMDB</a>
					<a class="list-group-item list-group-item-action" id="list-kpi-list" data-toggle="tab" href="#list-kpi" role="tab" aria-controls="list-kpi" aria-expanded="false" aria-selected="false">Obten oportunamente tus KPI's</a>
					<a class="list-group-item list-group-item-action" id="list-emplo-list" data-toggle="tab" href="#list-emplo" role="tab" aria-controls="list-emplo" aria-expanded="false" aria-selected="false">Mejora la experiencia de tus empleados o clientes</a>
				</div>
			</div>
			<div class="col-md-9 col-xs-12">
				<div class="tab-content" id="nav-tabContent">
					<div class="tab-pane fade active show" id="list-prod" role="tabpanel" aria-labelledby="list-prod-list" aria-expanded="true">
						<div class="card border-0 d-none d-lg-block">
							<img src="assets/img/freshserviceWhy1-1full.png" class="img-fluid">
							<div class="card-img-overlay">
								<div class="row justify-content-center align-items-end d-flex text-center h-100 rounded">
									<div class="col-12 col-md-6 bg-dark text-white" style="border-radius: 5%">
										<h4 class="mb-1 mt-0">Respuestas predefinidas</h4>
										<p class="lead" style="font-size:14px;">Ahorra tiempo valioso respondiendo rápidamente a las preguntas de los empleados con plantillas reusables</p>
									</div>
								</div>
							</div>
						</div>
						<div class="d-lg-none">
							<h4 class="mb-1 mt-0">Respuestas predefinidas</h4>
							<p class="lead">Ahorra tiempo valioso respondiendo rápidamente a las preguntas de los empleados con plantillas reusables</p>
						</div>
					</div>
					<div class="tab-pane fade" id="list-auto" role="tabpanel" aria-labelledby="list-auto-list" aria-expanded="false">
						<div class="card border-0 d-none d-lg-block">
							<img src="assets/img/freshserviceWhy1-2full.png" class="img-fluid">
							<div class="card-img-overlay">
								<div class="row justify-content-start align-items-end d-flex text-center h-100 rounded">
									<div class="col-12 col-md-4 bg-dark text-white" style="border-radius: 5%">
										<h5 class="mb-1 mt-0">Autoasignación de solicitudes</h5>
										<p class="lead" style="font-size:14px;">Automatiza la asignación de solicitudes y crea tus propios flujos de aprobación utilizando Workflow Automator para solucionar peticiones a tiempo</p>
									</div>
								</div>
							</div>
						</div>
						<div class="d-lg-none">
							<h4 class="mb-1 mt-0">Autoasignación de solicitudes</h4>
							<p class="lead">Automatiza la asignación de solicitudes y crea tus propios flujos de aprobación utilizando Workflow Automator para solucionar peticiones a tiempo</p>
						</div>
					</div>
					<div class="tab-pane fade" id="list-cmdb" role="tabpanel" aria-labelledby="list-cmdb-list" aria-expanded="false">
						<div class="card border-0 d-none d-lg-block">
							<img src="assets/img/freshserviceWhy1-3full.png" class="img-fluid">
							<div class="card-img-overlay">
								<div class="row justify-content-end align-items-end d-flex text-center h-100 rounded">
									<div class="col-12 col-md-4 bg-dark text-white" style="border-radius: 5%">
										<h5 class="mb-1 mt-0">Gestiona relaciones y dependencias en tus activos</h5>
										<p class="lead" style="font-size:14px;">Ten completa visibilidad en cómo tus elementos de configuración (CI's) están conetados al negocio, visualizando todas las dependencias y relaciones en un mapa interactivo</p>
									</div>
								</div>
							</div>
						</div>
						<div class="d-lg-none">
							<h5 class="mb-1 mt-0">Gestiona relaciones y dependencias en tus activos</h5>
							<p class="lead">Ten completa visibilidad en cómo tus elementos de configuración (CI's) están conetados al negocio, visualizando todas las dependencias y relaciones en un mapa interactivo</p>
						</div>
					</div>
					<div class="tab-pane fade" id="list-kpi" role="tabpanel" aria-labelledby="list-kpi-list" aria-expanded="false">
						<div class="card border-0 d-none d-lg-block">
							<img src="assets/img/freshserviceWhy1-4full.png" class="img-fluid">
							<div class="card-img-overlay">
								<div class="row justify-content-start align-items-end d-flex text-center h-100 rounded">
									<div class="col-12 col-md-4 bg-dark text-white" style="border-radius: 5%">
										<h5 class="mb-1 mt-0">Proyecta información importante</h5>
										<p class="lead" style="font-size:14px;">Proyecta métricas clave a tu equipo en pantalla grande para mantenerlos actualizados. O envíales el reporte.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="d-lg-none">
							<h5 class="mb-1 mt-0">Proyecta información importante</h5>
							<p class="lead">Proyecta métricas clave a tu equipo en pantalla grande para mantenerlos actualizados. O envíales el reporte.</p>
						</div>
					</div>
					<div class="tab-pane fade" id="list-emplo" role="tabpanel" aria-labelledby="list-emplo-list" aria-expanded="false">
						<div class="card border-0 d-none d-lg-block">
							<img src="assets/img/freshserviceWhy1-5full.png" class="img-fluid">
							<div class="card-img-overlay">
								<div class="row justify-content-end align-items-end d-flex text-center h-100 rounded">
									<div class="col-12 col-md-4 bg-dark text-white" style="border-radius: 5%">
										<h5 class="mb-1 mt-0">Evita tickets innecesarios</h5>
										<p class="lead" style="font-size:14px;">La autosugerencia recomienda a los usuarios artículos de solución cuando tratan de resolver un problema</p>
									</div>
								</div>
							</div>
						</div>
						<div class="d-lg-none">
							<h5 class="mb-1 mt-0">Evita tickets innecesarios</h5>
							<p class="lead">La autosugerencia recomienda a los usuarios artículos de solución cuando tratan de resolver un problema</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="pt-3 pb-2" style="background-image: linear-gradient(to right, white,lightcyan,white);">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-md-6">
				<div class="row">
					<div class="col-md-3">
						<img src="assets/img/gartnerCustomerChoice.png" class="img-fluid">
					</div>
					<div class="col">
						<h6>Premio <strong>Gartner Peer Insight Customers' Choice</strong></h6>
						<p class="text-muted text-justify">Freshservice ha sido seleccionado con este premio para software de ITSM. ¡El software de mesa de ayuda más usado es ahora el más querido también!</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="pt-5 pb-5">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12  col-md-6 text-center">
				<h1 class="display-5 mb-3">No lo pienses más<br />Prueba Freshservice ahora</h1>
				<a href="https://freshservice.com/signup/partners-aclsystems" class="btn btn-xs btn-round btn-warning btn-rised  ">Usa Freshservice por 21 días GRATIS</a>
			</div>
		</div>
	</div>
	<div class=" " style=" ">
	</div>
</section>
<acl-footer></acl-footer>
