<div class="d-flex justify-content-center" *ngIf="loading">
	<div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
		<span class="sr-only">Espera...</span>
	</div>
</div>
<div class="container-fluid peque p-0" *ngIf="!loading">
	<div class="container m-auto" *ngIf="userMessage !== ''"></div>
	<div class="card" *ngIf="companyMessage === ''">
		<div class="card-header my-0 py-0">
			<div class="row">
				<div class="col m-0 p-0">
					<h3 class="card-title text-primary">{{company.identifier}}
						<small *ngIf="company.display">
							({{company.display}})
						</small>
					</h3>
				</div>
				<div class="col">
					<p class="category float-right"><i class="material-icons middle">add</i><small> {{company.created| date:'medium'}}<br />
						<i class="material-icons middle">update</i> {{company.updated | date:'medium'}}
					</small></p>
				</div>
			</div>
		</div>
		<div class="card-body p-1">
			<div class="row">
				<div class="col">
					<h5>Datos principales</h5>
					<hr>
				</div>
			</div>
			<div class="row">
				<div class="col input-group">
					<mat-form-field>
						<mat-label>RFC</mat-label>
						<input matInput type="text" [value]="company.identifier">
					</mat-form-field>
				</div>
				<div class="col input-group">
					<mat-form-field>
						<mat-label>Razón Social</mat-label>
						<input matInput type="text" [value]="company.name">
					</mat-form-field>
				</div>
				<div class="col input-group">
					<mat-form-field>
						<mat-label>Nombre comercial</mat-label>
						<input matInput type="text" [value]="company.display">
					</mat-form-field>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<h5>Datos de contacto</h5>
					<hr>
				</div>
			</div>
			<div class="row">
				<div class="col" *ngIf="company.phone && company.phone.length > 0">
					<mat-form-field>
						<mat-label>Teléfonos</mat-label>
						<input matInput type="text" [value]="company.phone" disabled
						>
					</mat-form-field>
				</div>
				<div class="col" *ngIf="company.phone && company.phone.length === 0">
					Sin Teléfonos
				</div>
				<div class="col" *ngIf="company.addresses && company.addresses.length > 0">
					<mat-form-field>
						<mat-label>Direcciones</mat-label>
						<input matInput type="text" [value]="user.addresses" disabled
						>
					</mat-form-field>
				</div>
				<div class="col" *ngIf="company.addresses && company.addresses.length === 0">
					Sin Direcciones
				</div>
			</div>
		</div>
	</div>
</div>
