<footer class="footer" id="sticky-footer">
		<div class="container-fluid">
			<nav class="pull-left">
				<ul>
					<li>
						<a [routerLink]="['/pages/privacy']">Aviso de privacidad</a>
					</li>
					<li>
						<a [href]="footerLink" target="_blank">{{footerName}}</a>
					</li>
				</ul>
			</nav>
			<nav class="copyright pull-right">
				Un producto <a href="https://www.superatemexico.com" target="_blank"><img src="assets/img/superate.png" alt="Supérate México"></a>
				&nbsp;
				&copy;
				{{year}}, Powered by
				<a [href]="vendorLink" target="_blank">{{vendorName}}</a>
			</nav>
		</div>
	</footer>
