<div class="main-content">
	<div *ngIf="loading" class="text-center">
		<app-loading-spinner></app-loading-spinner>
	</div>
	<div class="container-fluid" *ngIf="!loading">
		<div class="row">
			<div class="col">
				<div class="card">
					<div class="card-header card-header-info card-header-icon">
						<div class="card-icon">
							<i class="far fa-building fa-2x"></i>
						</div>
						<h3 class="card-title">Cuentas</h3>
					</div>
					<div class="card-body">
						<div class="toolbar">
							<button
								class="btn btn-primary btn-sm"
								(click)="createAccount();"
								>
								<i class="fas fa-plus-circle"></i>
							</button>
						</div>
						<div class="material-datatables">
							<table
								datatable
								id="accounts"
								class="table table-stripped table-no-bordered table-hover"
								cellspacing="0"
								width="100%"
								style="width:100%"
								[dtOptions]="dtOptions"
								>
								<thead>
									<tr>
										<th *ngFor="let header of tableHeader">
											{{header}}
										</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th *ngFor="let footer of tableHeader">
											{{footer}}
										</th>
									</tr>
								</tfoot>
								<tbody>
									<tr *ngFor="let account of accounts">
										<td><b class="text-info">{{account.name}}</b></td>
										<td>{{account.longName}}</td>
										<td>
											<span *ngIf="account.type.includes('internal')"><i class="fas fa-home text-success"></i>&nbsp;</span>
											<span *ngIf="account.type.includes('support')"><i class="fas fa-wrench text-warning"></i>&nbsp;</span>
											<span *ngIf="account.type.includes('customer')"><i class="fas fa-money-bill text-primary"></i>&nbsp;</span>
											<span *ngIf="account.type.includes('partner')"><i class="fas fa-handshake text-info"></i>&nbsp;</span>
											<span *ngIf="account.type.includes('provider')"><i class="fas fa-truck text-danger"></i>&nbsp;</span>
										</td>
										<td

											*ngIf="account.owner.person.name"
										>
											{{account.owner.person.name.split(' ')[0]}} {{account.owner.person.fatherName}}
										</td>
										<td
											class="text-danger"
											*ngIf="!account.owner.person.name"
											>
											Sin dueño
										</td>
										<td class="text-right">
											<a
												[routerLink]="['/accounts/edit',account._id]"
												class="btn btn-link btn-danger btn-just-icon like"><i class="material-icons">edit</i>
											</a><a
												[routerLink]="['/business/create']"
												class="btn btn-link btn-dark btn-just-icon like"><i class="material-icons">attach_money</i>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
