<div class="wrapper">
	<div class="sidebar" data-color="white" data-background-color="blue" data-image="./assets/img/sidebar-1.jpg">
		<webquid-sidebar-cmp></webquid-sidebar-cmp>
		<div class="sidebar-background" style="background-image: url(./assets/img/sidebar-1.jpg)"></div>
	</div>
	<div class="main-panel">
		<webquid-navbar-cmp></webquid-navbar-cmp>
		<div class="container-fluid">
			<div class="row mb-0 pb-0">
				<div class="col">
					<div class="publicidad">
						<div class="card mt-4 mb-0 pb-0">
							<div class="card-body">
								<h4>Anuncios</h4>
								<p *ngIf="publicity.length === 0">No hay anuncios</p>
								<div *ngIf="publicity.length > 0">
									<div *ngFor="let ad of publicity">
										<div [innerHTML]="ad.text"></div>
										<hr />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row mt-0 pt-0">
				<div class="col">
					<div class="contenido">
						<router-outlet></router-outlet>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
