<!-- <div class="wrapper wrapper-full-page" (scroll)="scrollHandler()"> -->
<div class="wrapper">
	<div
		class="page-header pricing-page header-filter"
		style="background-image: url('./assets/img/bg0.jpg');  background-size: cover; background-position: top center;"
		>
		<div class="container index-page">
			<div class="row">
				<div class="col-md-8 ml-auto mr-auto">
					<div
						class="brand"
					>
						<img src="assets/img/gg_logo.png" alt="GIN group" class="img-fluid">
						<!-- <h1 class="text-center">GIN group</h1> -->
						<h3 class="text-center"><b>Kiosco de Servicios para el Colaborador</b></h3>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col text-center">
					<button
					class="btn btn-success ml-auto mr-auto"
					(click)="goLogin();"
					>Ingresar</button>
				</div>
			</div>
		</div>
	</div>
</div>
