<router-outlet>
	<div class="bg-dark page-header" style="background-color:#102737" *ngIf="loading">
		<div class="row">
			<div class="col ml-auto mr-auto text-center text-white">
				<img src="assets/img/gg_logo.png"  class="img-fluid mx-auto d-block" alt="Webquid">
				<br>
				<div class="spinner-border text-light m-5 " role="status" style="width: 5rem; height: 5rem;">
					<span class="sr-only text-center text-white">Cargando ...</span>
				</div>
			</div>
		</div>
	</div>
</router-outlet>
