<div class="wrapper wrapper-full-page">
	<div class="page-header pricing-page header-filter"
		style="background-image: url('./assets/img/bg0.jpg');  background-size: cover; background-position: top center;">
		<div class="container index-page">
			<div class="row">
				<div class="col-lg-5 col-md-6 col-sm-6 ml-auto mr-auto">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Confirmando cuenta de correo</h4>
						</div>
						<div class="card-body">
							Espera...
							<div class="d-flex justify-content-center">
								<div class="spinner-border text-success" style="width: 3rem; height: 3rem;" role="status">
									<span class="sr-only">Loading...</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
