<div class="main-content">
	<div *ngIf="loading" class="text-center">
		<app-loading-spinner></app-loading-spinner>
	</div>
	<div class="container-fluid" *ngIf="!loading">
		<div class="row">
			<div class="col">
				<div class="card">
					<div class="card-header card-header-warning card-header-icon">
						<div class="card-icon">
							<i class="fas fa-users fa-2x"></i>
						</div>
						<h3 class="card-title">Usuarios</h3>
					</div>
					<div class="card-body">
						<div class="toolbar">
							<button
								class="btn btn-primary btn-sm"
								(click)="createUser();"
								>
								<i class="fas fa-plus-circle"></i>
							</button>
						</div>
						<div class="material-datatables">
							<table
								datatable
								id="users"
								class="table table-stripped table-no-bordered table-hover"
								cellspacing="0"
								width="100%"
								style="width:100%"
								[dtOptions]="dtOptions"
								class="row-border"
								>
								<thead>
									<tr>
										<th>
											<i class="far fa-laugh-beam text-success"></i>
										</th>
										<th *ngFor="let header of tableHeader">
											{{header}}
										</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th>
											<i class="far fa-laugh-beam text-success"></i>
										</th>
										<th *ngFor="let footer of tableHeader">
											{{footer}}
										</th>
									</tr>
								</tfoot>
								<tbody>
									<tr *ngFor="let user of users">
										<td>
											<i
												[ngClass]="{
													'fa-meh-blank text-dark':user.happiness == 0,
													'fa-angry text-danger':user.happiness == 1,
													'fa-frown-open text-danger':user.happiness == 2,
													'fa-meh text-warning':user.happiness == 3,
													'fa-smile text-info':user.happiness == 4,
													'fa-laugh-beam text-success':user.happiness == 5
												}"
												class="far"
												>
											</i>
										</td>
										<td>
											<b  class="text-info">{{user.name}}</b>
										</td>
										<td>{{user.person.name}} {{user.person.fatherName}} {{user.person.motherName}}</td>
										<td>
											<span *ngFor="let org of user.org">
												{{org.name}}
											</span>
										</td>
										<td
											*ngIf="user.owner.person.name"
										>
											{{user.owner.person.name.split(' ')[0]}} {{user.owner.person.fatherName}}
										</td>
										<td
											class="text-danger"
											*ngIf="!user.owner.person.name"
											>
											Sin dueño
										</td>
										<td>
											<a
												[routerLink]="['/users/edit',user._id]"
												class="nav-link"
												>
												<i class="fas fa-pencil-alt text-danger"></i>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
