<nav class="navbar navbar-full navbar-expand-lg bg-white fixed-top sticky-top navbar-transparent navbar-absolute"  color-on-scroll="500">
	<div class="container">
		<div class="navbar-wrapper">
			<a class="navbar-brand d-none d-sm-none d-md-block">
				<img src="assets/img/acl_logo_trans.png" alt="ACL Systems" width="42px">&nbsp;&nbsp;&nbsp;<img src="assets/img/logo-fservice-black.svg" alt="Freshservice" width="131px">
			</a>
			<a class="navbar-brand d-block d-sm-block d-md-none">
				<img src="assets/img/acl_logo.png" alt="ACL Systems" width="42px">
				<span class="text-primary">ACL Systems</span>
			</a>
		</div>
		<button
			mat-button
			class="navbar-toggler"
			data-toggle="collapse"
			data-target="#mainNavBar"
			type="button"
			(click)="sidebarToggle();"
			>
			<span class="sr-only">Toggle navigation</span>
			<span class="navbar-toggler-icon icon-bar"></span>
			<span class="navbar-toggler-icon icon-bar"></span>
			<span class="navbar-toggler-icon icon-bar"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end" id="mainNavBar">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link text-primary">
						Soluciones
					</a>
				</li>
				<li class="nav-item">
					<!-- <a class="nav-link text-primary">
						Contáctanos
					</a> -->
					<a href="https://wa.link/bnn5xq" target="_blank"><i class="fab fa-whatsapp-square fa-2x text-whatsapp social"></i></a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div class="main-panel img-src" style="background-color: #E1F6FC">
	<div class="container mt-5" >
		<div class="row justify-content-center">
			<div class="col-md-12 text-center">
				<h3>La Mesa de Servicio de TI más fácil de usar</h3>
				<p>Moderniza tu negocio con la solución de Mesa de Servicio refrescantemente fácil de usar y muy fácil de configurar</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<button class="btn btn-primary">Haz la prueba gratuita por 21 días</button>
				<button class="btn btn-outline-primary">Solicita más información</button>
			</div>
		</div>
	</div>
	<div class="container-fluid main">
		<!-- <div class="lazy-image-wrapper loaded">
			<img src="assets/img/freshservice-home-banner.svg" alt="" class="original-image">
		</div> -->
		<div class="row justify-content-center">
			<div class="col-md-12 text-center">
				<h3>Todo lo que necesitas para el soporte de TI</h3>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-12 text-center">
				<div class="card-deck">
					<div class="card">
						<div class="card-body">
							<h4>Fácil de usar y de configurar</h4>
							<p>La interface moderna e intuitva de Freshservice no requiere capacitación para utilizarse y se customiza a las necesidades del negocio</p>
						</div>
					</div>
					<div class="card">
						<div class="card-body">
							<h4>Soporte multicanal</h4>
							<p>Automatiza tareas y entrega soporte mediante correo, el portal de autoservicio, teléfono, chat o en persona</p>
						</div>
					</div>
					<div class="card">
						<div class="card-body">
							<h4>Convierte el soporte en un juego</h4>
							<p>Convierte tu mesa de servicio en una experiencia divertida y enganchante para tus agentes</p>
						</div>
					</div>
					<div class="card">
						<div class="card-body">
							<h4>Información en la palma de tus manos</h4>
							<p>Manten registro de contratos, hardware, software y otras activos</p>
						</div>
					</div>
					<div class="card">
						<div class="card-body">
							<h4>Aplicación móvil</h4>
							<p>Utiliza la aplicación móvil para iOS y Android y empodera a tus agentes de alto impacto donde quiera que estén</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
