<div class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="navbar-brand">ACL Systems</div>
	<div class="container-fluid">
		<ul class="navbar-nav float-left">
			<li class="nav-item active">
				<a href="#" class="nav-link">Servicios</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link">Ligas</a>
			</li>
		</ul>
		<ul class="navbar-nav float-right">
			<li class="nav-item">
				<a href="#" class="nav-link">Ayuda</a>
			</li>
		</ul>
	</div>

</div>
<router-outlet></router-outlet>
<footer>
	ACL Systems
</footer>
