<div class="main-content">
	<div class="container-fluid">
		<div class="card">
			<div class="card-header card-header-icon card-header-success">
				<div class="card-icon">
					<i class="material-icons">assignment</i>
				</div>
				<h4 class="card-title">Roberto Jiménez</h4>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table">
						<thead class="text-primary">
							<tr>
								<th>Mes y año</th>
								<th>Archivo PDF</th>
								<th>Archivo XML</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Febrero 2020</td>
								<td><a href="assets/docs/feb2020.pdf" class="btn btn-link" download>PDF</a></td>
								<td><a href="assets/docs/feb2020.xml" class="btn btn-link" download>XML</a></td>
							</tr>
							<tr>
								<td>Enero 2020</td>
								<td><a href="assets/docs/ene2020.pdf" class="btn btn-link" download>PDF</a></td>
								<td><a href="assets/docs/ene2020.xml" class="btn btn-link" download>XML</a></td>
							</tr>
							<tr>
								<td>Diciembre 2019</td>
								<td><a href="assets/docs/dic2019.pdf" class="btn btn-link" download>PDF</a></td>
								<td><a href="assets/docs/dic2019.xml" class="btn btn-link" download>XML</a></td>
							</tr>
							<tr>
								<td>Noviembre 2019</td>
								<td><a href="assets/docs/nov2019.pdf" class="btn btn-link" download>PDF</a></td>
								<td><a href="assets/docs/nov2019.xml" class="btn btn-link" download>XML</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
