<acl-navbar></acl-navbar>
<section class="pt-5 mt-5 align-items-center bg-dark" style="background-size: cover; background-image: url(/assets/img/acl_soon.jpg); background-position: top center;">
	<div class="container-fluid">
		<div class="row  justify-content-center align-items-center d-flex-row text-center h-100">
			<div class="col-12 col-md-8  h-50 ">
				<img alt="ACL Systems" class="" src="assets/img/acl_main.png" style="max-width:100px;">
				<h1 class="   text-white mb-2 mt-5"><strong>Muy Pronto</strong> </h1>
				<p class="lead  text-white mb-5">Estamos trabajando para servirte mejor</p>
				<p class="lead  text-white mb-5">Mientras tanto:</p>
				<p>
					<a [routerLink]="['/nosotros']" fragment="calendlyContainer" class="btn btn-outline-light btn-lg  ">Contáctanos &gt;</a>
				</p>
				<div class="btn-container-wrapper p-relative d-block  zindex-1">
					<a class="btn btn-outline-light border-0 btn-lg pr-2 pl-2 pt-3 pb-3  mt-md-5  scroll align-self-center  " [routerLink]="['/home']">
						<i class="fa fa-angle-up fa-2x "></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<acl-footer></acl-footer>
