<div>
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<div class="card-deck">
					<div class="card">
						<a class="btn btn-link" (click)="goToPayroll();">
							<div class="card-body text-center">
								<span style="color:darkblue"><i class="fas fa-file-invoice fa-5x"></i></span> <h4 class="card-title">Recibos de Nómina</h4>
								<p class="card-category">Recibos de los últimos 12 meses</p>
							</div>
						</a>
					</div>
					<div class="card">
						<a class="btn btn-link" (click)="goToIMSS();">
							<div class="card-body text-center">
								<span style="color:purple"><i class="fas fa-id-card fa-5x"></i></span> <h4 class="card-title">Altas de IMSS</h4>
								<p class="card-category">Documentos oficiales</p>
							</div>
						</a>
					</div>
					<div class="card">
						<a class="btn btn-link" (click)="goToVacation();">
							<div class="card-body text-center">
								<span style="color:green"><i class="fas fa-umbrella-beach fa-5x"></i></span> <h4 class="card-title">Vacaciones</h4>
								<p class="card-category">Consulta tus días de vacaciones</p>
							</div>
						</a>
					</div>
					<div class="card">
						<a class="btn btn-link" (click)="goToCertificates();">
							<div class="card-body text-center">
								<span style="color:black"><i class="fas fa-file-signature fa-5x"></i></span> <h4 class="card-title">Solicitud de constancias</h4>
								<p class="card-category">Solicita una constancia de...</p>
							</div>
						</a>
					</div>
					<div class="card">
						<a class="btn btn-link" (click)="goToOther();">
							<div class="card-body text-center">
								<span style="color:red"><i class="fas fa-plus-circle fa-5x"></i></span> <h4 class="card-title">Otros servicios</h4>
								<p class="card-category">Estamos para servirte</p>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
