<div *ngIf="loading" class="text-center">
	<app-loading-spinner></app-loading-spinner>
</div>
<div class="container" *ngIf="!loading">
	<div class="row justify-content-end">
		<div class="col-sm col-md-4 col-lg-3">
			<mat-form-field>
				<mat-label>Categoría</mat-label>
				<mat-select
					[formControl]="categoryFilter"
					ariaLabel="serviceCategories[0]"
					(selectionChange)="filterServices();"
					>
					<mat-option
						*ngFor="let cat of serviceCategories"
						[value]="cat">
							{{ cat }}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
	</div>
	<div class="card-deck">
		<div class="card" *ngFor="let service of services">
			<a
			class="btn btn-link"
			(click)="goToService(service._id,service.blank);"
			>
				<div class="card-body text-center">
					<span [style.color]="service.iconColor">
						<i
							class="fas fa-5x"
							[ngClass]="service.icon"
						></i>
					</span>
					<h4 class="card-title">{{service.title}}</h4>
					<p class="card-category">{{service.description}}</p>
				</div>
			</a>
		</div>
		<div class="card">
			<a
			class="btn btn-link"
			(click)="otherService();"
			>
				<div class="card-body text-center">
					<span style="color:black;">
						<i class="fas fa-5x fa-asterisk"></i>
					</span>
					<h4 class="card-title">Otro Servicio</h4>
					<p class="card-category">Si no encuentras en los servicios anteriores tu petición hazla aquí</p>
				</div>
			</a>
		</div>
		<div *ngIf="services.length === 0">
			<h4 class="bg-warning">No hay servicios disponibles</h4>
		</div>
	</div>
</div>
