<acl-navbar></acl-navbar>
<section class="pt-5 pb-5 mt-0 align-items-center d-flex bg-dark" style="min-height: 100vh; background-size: cover; background-image: url('assets/img/aclfront.jpg');">
	<div class="container ">
		<div class="row align-items-center d-flex justify-content-between">
			<div class="col-12 col-md-6 pb-5 order-2 order-sm-2 ">
				<h1 class="text-white font-weight-bold mb-3 mt-5 display-3">Hazlo fácil. Hazlo con<br />ACL Systems</h1>
				<p class="lead text-white"><b>Tenemos claro que el software debe ser fácil de usar y fácil de implementar. Nuestro objetivo es proporcionarte software de nube de alta calidad que cumpla con el objetivo principal: ser fácil.</b></p>
				<!-- <div class=" d-flex mt-3 mb-1">
					<a class="btn btn-primary btn-raised text-uppercase btn-lg  mt-md-3 " href="#" role="button">Download Now</a>
				</div> -->
			</div>
			<div class="col-12 col-md-6 order-sm-1 order-md-2  ">
				<div class="icon-wrap text-primary d-flex justify-content-md-center my-3">

				</div>
			</div>
		</div>
	</div>
</section>
<section class="pt-5 pb-5">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col col-md-8 text-center">
				<p class="text-h2">ACL Systems es partner oficial de Freshworks lo que nos permite ofrecerte soluciones fáciles de usar a un precio muy competitivo. No te descapitalices implementando software, solo úsalo. así de fácil. Desarrollamos sistemas en la nube a la medida de las necesidades de tu negocio. No esperes más. Contáctanos para una demostración gratuita.</p>
			</div>
		</div>
	</div>
</section>
<section class="pt-5 pb-5">
	<div class="container ">
		<div class="row d-md-flex-row   ">
			<div class="col-md-5 ml-md-0 col-12   d-flex  ">
				<div class="card p-0   w-100 h-100 text-white shadow-lg  border-0 ">
					<img class="card-img h-100 w-100" src="assets/img/crm2.png"
						alt="Freshworks CRM">
					<div class="card-img-overlay p-1 p-md-3    ">
						<div class="position-relative  w-100 h-5  d-flex">
							<div class="container-fluid align-self-start   mt-2 mb-2">
								<div class="row">
									<div class="col-7 col-md-5">
										<!-- <h4 class="mt-1 text-primary">Freshworks CRM</h4> -->
									</div>
									<div class="col-md-7 col-5 text-right">
										<div class="row align-items-center">
											<div class="col-12 align-self-center">
												<!-- <hr class="border border- mt-3"> -->
												<!-- <h4 class="mt-1 text-primary">Freshworks CRM</h4> -->
												<img class="card-img h-100 w-100" src="assets/img/freshworksCRM.png"
													alt="Freshworks CRM">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- <div class="position-relative  w-100 h-50  d-flex"> -->
							<div class="container-fluid align-self-center mt-0 mb-2">
								<div class="row justify-content-end">
									<div class="col-md-9 align-self-end">
										<p class="text-right pt-md-2 pt-sm-4" style="color:black;">Un CRM con inteligencia artificial. Descubre los mejores clientes potenciales, logra más cierres y vende más con una solución inteligente e integral.</p>
									</div>
								</div>
							</div>
						<!-- </div> -->
						<div class="position-relative  w-100  h-25 d-flex">
							<div class="container-fluid p-0 m-0 align-self-end  mt-5 mb-2">
								<div class="row">
									<div class="col-md-7 col-7">
										<div class=" pt-0 d-inline-block">
											<!-- <a href="#" role="button" class=" btn btn-link mr-1">
												<i class="fab fa-twitter  text-white" aria-hidden="true"></i>
											</a> -->
											<!-- <a href="#" role="button" class=" btn btn-link mr-1">
												<i class="fab fa-facebook   text-white" aria-hidden="true"></i>
											</a> -->
											<!-- <a href="#" role="button" class=" btn btn-link mr-1">
												<i class="fab fa-linkedin   text-white" aria-hidden="true"></i>
											</a> -->
										</div>
									</div>
									<div class="col-md-5 col-5 text-right">
										<!-- <a href="#" class="btn btn-outline-light">Hire me now</a> -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-7 h-100">
				<div class="container-fluid w-100">
					<div class="row">
						<div class="col col-12 text-center text-md-left">
							<h2 class="pt-4 pt-md-0">Software empresarial refrescante que encantará a tus equipos de trabajo</h2>
							<!-- <p class="text-h3">.</p> -->
							<p>Todos nuestros productos están listos para usarse, són fáciles y ofrecen un gran valor a cualquier tipo de negocio.</p>
						</div>
					</div>
					<div class="row align-content-center">
						<a class="card p-2 col-md-6  no-gutters text-white   " data-toggle="modal" data-target=".bd-example-modal-lg">
							<img class="card-img h-100 shadow" src="assets/img/fssrv1.png" alt="Freshservice">
							<div class="card-img-overlay p-1 d-flex  flex-column  align-items-baseline justify-content-center ">
								<div class="container-fluid h-25">
									<div class="row h-100 align-items-center">
										<div class="col">
											<img class="img-fluid" src="assets/img/freshservice_small.jpg" alt="Freshservice">
										</div>
										<!-- <div class="col-6">
											<h3>1</h3>
										</div>
										<div class="col-6 text-right">
											<h5 class="  mt-2 mb-2 text-white">+24c</h5>
										</div> -->
									</div>
								</div>
								<div class="container-fluid  h-50  text-center">
									<div class="row h-100 align-items-center">
										<div class="col-12">
											<!-- <h2 class="mt-3 mb-3" style="color:dimgray;">Freshservice
												<br>
												<small> Spain</small>
											</h2> -->
										</div>
									</div>
								</div>
								<div class="container-fluid h-25  ">
									<div class="row h-100 align-items-center">
										<div class="col-6">
											<i class="fa fa-cloud fa-lg" aria-hidden="true"></i>
										</div>
										<div class="col-6 text-right">
											<!-- <h5 class="  mt-2 mb-2 text-white">$2,240</h5> -->
										</div>
									</div>
								</div>
							</div>
						</a>
						<a class="card p-2 col-md-6  no-gutters text-white  " data-toggle="modal" data-target=".bd-example-modal-lg">
							<img class="card-img h-100 shadow" src="assets/img/freshdesk1.png" alt="Freshdesk">
							<div class="card-img-overlay p-1 d-flex  flex-column  align-items-baseline justify-content-center ">
								<div class="container-fluid h-25">
									<div class="row h-100 align-items-center">
										<div class="col">
											<img class="img-fluid" src="assets/img/freshdesk_small.jpg" alt="Freshdesk">
										</div>
										<!-- <div class="col-6">
											<h3>1</h3>
										</div>
										<div class="col-6 text-right">
											<h5 class="  mt-2 mb-2 text-white">+28c</h5>
										</div> -->
									</div>
								</div>
								<div class="container-fluid  h-50  text-center">
									<div class="row h-100 align-items-center">
										<div class="col-12">
											<!-- <h2 class="  mt-3 mb-3">New York
												<br>
												<small>United States</small>
											</h2> -->
										</div>
									</div>
								</div>
								<div class="container-fluid h-25  ">
									<div class="row h-100 align-items-center">
										<div class="col-6">
											<i class="far fa-sun fa-lg" aria-hidden="true"></i>
										</div>
										<div class="col-6 text-right">
											<!-- <h5 class="  mt-2 mb-2 text-white">$4,250</h5> -->
										</div>
									</div>
								</div>
							</div>
						</a>
						<a class="card p-2 col-md-6  no-gutters text-white  " data-toggle="modal" data-target=".bd-example-modal-lg">
							<img class="card-img h-100 shadow" src="assets/img/freshchat1.jpg" alt="Freschat">
							<div class="card-img-overlay p-1 d-flex  flex-column  align-items-baseline justify-content-center ">
								<div class="container-fluid h-25">
									<div class="row h-100 align-items-center">
										<div class="col">
											<img class="img-fluid" src="assets/img/freshchat_small.jpg" alt="Freshchat">
										</div>
										<!-- <div class="col-6">
											<h3>1</h3>
										</div>
										<div class="col-6 text-right">
											<h5 class="  mt-2 mb-2 text-white">+24c</h5>
										</div> -->
									</div>
								</div>
								<div class="container-fluid  h-50  text-center">
									<div class="row h-100 align-items-center">
										<div class="col-12">
											<!-- <h2 class="  mt-3 mb-3">Barcelona
												<br>
												<small> Spain</small>
											</h2> -->
										</div>
									</div>
								</div>
								<div class="container-fluid h-25  ">
									<div class="row h-100 align-items-center">
										<div class="col-6">
											<i class="fa fa-cloud  fa-lg" aria-hidden="true"></i>
										</div>
										<div class="col-6 text-right">
											<!-- <h5 class="  mt-2 mb-2 text-white">$2,240</h5> -->
										</div>
									</div>
								</div>
							</div>
						</a>
						<a class="card p-2 col-md-6  no-gutters text-white  " data-toggle="modal" data-target=".bd-example-modal-lg">
							<img class="card-img h-100 shadow" src="assets/img/freshcaller1.jpg" alt="Freshcaller">
							<div class="card-img-overlay p-1 d-flex  flex-column  align-items-baseline justify-content-center ">
								<div class="container-fluid h-25">
									<div class="row h-100 align-items-center">
										<div class="col">
											<img class="img-fluid" src="assets/img/freshcaller_small.png" alt="Freshcaller">
										</div>
										<!-- <div class="col-6">
											<h3>1</h3>
										</div>
										<div class="col-6 text-right">
											<h5 class="  mt-2 mb-2 text-white">+28c</h5>
										</div> -->
									</div>
								</div>
								<div class="container-fluid  h-50  text-center">
									<div class="row h-100 align-items-center">
										<div class="col-12">
											<!-- <h2 class="  mt-3 mb-3">New York
												<br>
												<small>United States</small>
											</h2> -->
										</div>
									</div>
								</div>
								<div class="container-fluid h-25  ">
									<div class="row h-100 align-items-center">
										<div class="col-6">
											<i class="far fa-sun  fa-lg" aria-hidden="true"></i>
										</div>
										<div class="col-6 text-right">
											<!-- <h5 class="  mt-2 mb-2 text-white">$4,250</h5> -->
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<acl-footer></acl-footer>
