<acl-navbar></acl-navbar>
<section class="pt-5 pb-5 mt-0 align-items-center d-flex bg-dark" style="min-height: 100vh; background-size: cover; background-image: url('assets/img/aclfront.jpg');">
	<div class="container ">
		<div class="row align-items-center d-flex justify-content-between">
			<div class="col-12 col-md-6 pb-5 order-2 order-sm-2 ">
				<h1 class="text-white font-weight-bold mb-3 mt-5 display-3">Hazlo fácil. Hazlo con<br />ACL Systems</h1>
				<p class="lead text-white"><b>Tenemos claro que el software debe ser fácil de usar y fácil de implementar. Nuestro objetivo es proporcionarte software de nube de alta calidad que cumpla con el objetivo principal: ser fácil.</b></p>
				<!-- <div class=" d-flex mt-3 mb-1">
					<a class="btn btn-primary btn-raised text-uppercase btn-lg  mt-md-3 " href="#" role="button">Download Now</a>
				</div> -->
			</div>
			<div class="col-12 col-md-6 order-sm-1 order-md-2  ">
				<div class="icon-wrap text-primary d-flex justify-content-md-center my-3">

				</div>
			</div>
		</div>
	</div>
</section>
<section class="pt-5 pb-3">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col col-md-8 text-center">
				<p class="text-h2">ACL Systems es partner oficial de Freshworks lo que nos permite ofrecerte soluciones fáciles de usar a un precio muy competitivo. No te descapitalices implementando software, solo úsalo. Así de fácil. Desarrollamos sistemas en la nube a la medida de las necesidades de tu negocio. No esperes más. Contáctanos para una demostración gratuita.</p>
			</div>
		</div>
	</div>
</section>
<acl-freshworks></acl-freshworks>
<section class="pt-3 pb-3">
	<div class="container">
		<div class="row justify-content-center align-items-center mt-5">
			<div class="col-md-6 pl-5 pr-5 text-center">
				<img class="img-fluid mt-5 mb-0 img-center d-xs-none align-self-end" src="assets/img/code.jpg">
			</div>
			<div class="col-md-6 text-left">
				<h3>Los negocios y sus modelos no son todos iguales</h3>
				<p class="lead mt-4 mb-5 text-justify">En ACL Systems creemos que cualquier negocio puede digitalizarse. Tenemos software empresarial para cualquier negocio, no importa su tamaño. Desarrollamos sistemas y aplicaciones adaptándonos al modelo de tu negocio. Todo lo desarrollamos en nube para que no inviertas. Muy bueno, no?</p>
				<div class="row">
					<div class="col-md-6 col-feature mb-4">
						<h4 class="mb-3">Tecnología de nube</h4>
						<p class="text-justify">Utilizamos lenguajes, plataformas, sistemas y librerías de última generación usando prácticas de desarrollo para reutilización de código y arquitecturas basadas en contenedores. El desarrollo de aplicaciones lo hacemos de forma que no tengamos que rehacer una sola línea de código. Lo que nos permite entregarte software de nube de alta calidad y en tiempos record.</p>
					</div>
					<div class="col-md-6 col-feature mb-4">
						<h4 class="mb-3">Paga lo que uses</h4>
						<p class="text-justify">La metodología y modelo de desarrollo que usamos nos permite ofrecerte las aplicaciones que necesitas a la medida de las necesidades de tu negocio y en el mejor plan. Paga lo que uses. No te cobramos el traje a la medida: te lo rentamos!</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<acl-footer></acl-footer>
