<div class="container-fluid">
	<div class="card mt-1">
		<div class="card-header bg-success">
			<h4 class="card-title text-white float-left">
				Solicitud de vacante
			</h4>
		</div>
		<div class="card-body">
			<h4 class="text-danger"><small>* Todos los campos marcados son requeridos</small></h4>
			<div [formGroup]="requestForm">
				<div class="card mt-1 mb-0">
					<div class="card-header pb-0">
						<h5 class="m-0">Descripción de la vacante</h5>
					</div>
					<div class="card-body">
						<div class="row mb-3">
							<div class="col">
								<mat-form-field>
									<mat-label>Causa de la vacante</mat-label>
									<mat-select
										formControlName="causa"
										name="Nueva creación"
										ariaLabel="causas[0]"
										[errorStateMatcher]="matcher"
										required
										>
										<mat-option
											*ngFor="let causa of causas"
											[value]="causa.value">
												{{ causa.viewValue }}
										</mat-option>
									</mat-select>
									<mat-error
										*ngIf="causa.hasError('required')"
									>
										Campo requerido
									</mat-error>
								</mat-form-field>
							</div>
							<div class="col">
								<mat-form-field>
									<mat-label>Número de vacantes</mat-label>
									<input
										matInput
										type="number"
										formControlName="numeroVacantes"
										[errorStateMatcher]="matcher"
										id="numeroVacantes"
										required
										>
									<mat-error
										*ngIf="numeroVacantes.hasError('min')"
									>
										Número de vacantes debe ser mayor a 1
									</mat-error>
								</mat-form-field>
							</div>
							<div class="col">

							</div>
						</div>
						<div class="row">
							<div class="col">
								<mat-form-field>
									<mat-label>Lugar de Trabajo</mat-label>
									<mat-select
										formControlName="lugarTrabajo"
										name="Piedras Negras"
										ariaLabel="lugarDeTrabajo[0]"
										[errorStateMatcher]="matcher"
										required
										(selectionChange)="filterPositions();"
										>
										<mat-option
											*ngFor="let lugar of lugarDeTrabajo"
											[value]="lugar.value">
												{{ lugar.viewValue }}
										</mat-option>
									</mat-select>
									<mat-error
										*ngIf="lugarTrabajo.hasError('required')"
									>
										Campo requerido
									</mat-error>
								</mat-form-field>
							</div>
							<div class="col">
								<mat-form-field>
									<mat-label>Área</mat-label>
									<mat-select
										formControlName="area"
										name="Piedras Negras"
										ariaLabel="jobAreas[0]"
										[errorStateMatcher]="matcher"
										(selectionChange)="filterPositions();"
										required
										>
										<mat-option
											*ngFor="let area of jobAreas"
											[value]="area">
												{{area}}
										</mat-option>
									</mat-select>
									<mat-error
										*ngIf="area.hasError('required')"
									>
										Campo requerido
									</mat-error>
								</mat-form-field>
							</div>
							<div class="col">
								<mat-form-field>
									<mat-label>Puesto</mat-label>
									<mat-select
										formControlName="puesto"
										ariaLabel="jobPosFiltered[0]"
										[errorStateMatcher]="matcher"
										required
										(selectionChange)="fillJobFunctions();"
										>
										<mat-option
											*ngFor="let job of jobPosFiltered"
											[value]="job.name">
												{{job.name}}
										</mat-option>
									</mat-select>
									<mat-error
										*ngIf="puesto.hasError('required')"
									>
										Campo requerido
									</mat-error>
								</mat-form-field>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<h5>Días y Horarios de Trabajo</h5>
								<div class="row">
									<div class="col">
										<div class="togglebutton">
											<label>
												<input
													type="checkbox"
													formControlName="sinHorario"
												>
												<span class="toggle"></span>
												Sin horario de trabajo
											</label>
										</div>
									</div>
								</div>
								<div class="row" *ngIf="!sinHorario.value">
									<div class="col">
										<div class="row">
											<div class="col-2">
												<mat-checkbox
													formControlName="lunes"
												>
													Lunes
												</mat-checkbox>
											</div>
											<div class="col-auto">De</div>
											<div class="col-2">
												<mat-select
													formControlName="lunBeg"
													>
													<mat-option
														*ngFor="let hora of horas"
														[value]="hora">
															{{hora}}
													</mat-option>
												</mat-select>
											</div>
											<div class="col-2">
												<mat-select
													formControlName="lunBegMer"
													>
													<mat-option
														*ngFor="let mer of meridiano"
														[value]="mer">
															{{mer}}
													</mat-option>
												</mat-select>
											</div>
											<div class="col-auto">a </div>
											<div class="col-2">
												<mat-select
													formControlName="lunEnd"
													>
													<mat-option
														*ngFor="let hora of horas"
														[value]="hora">
															{{hora}}
													</mat-option>
												</mat-select>
											</div>
											<div class="col-2">
												<mat-select
													formControlName="lunEndMer"
													>
													<mat-option
														*ngFor="let mer of meridiano"
														[value]="mer">
															{{mer}}
													</mat-option>
												</mat-select>
											</div>
										</div>
										<div class="row">
											<div class="col-2">
												<mat-checkbox
													formControlName="martes"
												>
													Martes
												</mat-checkbox>
											</div>
											<div class="col-auto">De</div>
											<div class="col-2">
												<mat-select
													formControlName="marBeg"
													>
													<mat-option
														*ngFor="let hora of horas"
														[value]="hora">
															{{hora}}
													</mat-option>
												</mat-select>
											</div>
											<div class="col-2">
												<mat-select
													formControlName="marBegMer"
													>
													<mat-option
														*ngFor="let mer of meridiano"
														[value]="mer">
															{{mer}}
													</mat-option>
												</mat-select>
											</div>
											<div class="col-auto">a </div>
											<div class="col-2">
												<mat-select
													formControlName="marEnd"
													>
													<mat-option
														*ngFor="let hora of horas"
														[value]="hora">
															{{hora}}
													</mat-option>
												</mat-select>
											</div>
											<div class="col-2">
												<mat-select
													formControlName="marEndMer"
													>
													<mat-option
														*ngFor="let mer of meridiano"
														[value]="mer">
															{{mer}}
													</mat-option>
												</mat-select>
											</div>
										</div>
										<div class="row">
											<div class="col-2">
												<mat-checkbox
													formControlName="miercoles"
												>
													Miércoles
												</mat-checkbox>
											</div>
											<div class="col-auto">De</div>
											<div class="col-2">
												<mat-select
													formControlName="mieBeg"
													>
													<mat-option
														*ngFor="let hora of horas"
														[value]="hora">
															{{hora}}
													</mat-option>
												</mat-select>
											</div>
											<div class="col-2">
												<mat-select
													formControlName="mieBegMer"
													>
													<mat-option
														*ngFor="let mer of meridiano"
														[value]="mer">
															{{mer}}
													</mat-option>
												</mat-select>
											</div>
											<div class="col-auto">a </div>
											<div class="col-2">
												<mat-select
													formControlName="mieEnd"
													>
													<mat-option
														*ngFor="let hora of horas"
														[value]="hora">
															{{hora}}
													</mat-option>
												</mat-select>
											</div>
											<div class="col-2">
												<mat-select
													formControlName="mieEndMer"
													>
													<mat-option
														*ngFor="let mer of meridiano"
														[value]="mer">
															{{mer}}
													</mat-option>
												</mat-select>
											</div>
										</div>
										<div class="row">
											<div class="col-2">
												<mat-checkbox
													formControlName="jueves"
												>
													Jueves
												</mat-checkbox>
											</div>
											<div class="col-auto">De</div>
											<div class="col-2">
												<mat-select
													formControlName="jueBeg"
													>
													<mat-option
														*ngFor="let hora of horas"
														[value]="hora">
															{{hora}}
													</mat-option>
												</mat-select>
											</div>
											<div class="col-2">
												<mat-select
													formControlName="jueBegMer"
													>
													<mat-option
														*ngFor="let mer of meridiano"
														[value]="mer">
															{{mer}}
													</mat-option>
												</mat-select>
											</div>
											<div class="col-auto">a </div>
											<div class="col-2">
												<mat-select
													formControlName="jueEnd"
													>
													<mat-option
														*ngFor="let hora of horas"
														[value]="hora">
															{{hora}}
													</mat-option>
												</mat-select>
											</div>
											<div class="col-2">
												<mat-select
													formControlName="jueEndMer"
													>
													<mat-option
														*ngFor="let mer of meridiano"
														[value]="mer">
															{{mer}}
													</mat-option>
												</mat-select>
											</div>
										</div>
										<div class="row">
											<div class="col-2">
												<mat-checkbox
													formControlName="viernes"
												>
													Viernes
												</mat-checkbox>
											</div>
											<div class="col-auto">De</div>
											<div class="col-2">
												<mat-select
													formControlName="vieBeg"
													>
													<mat-option
														*ngFor="let hora of horas"
														[value]="hora">
															{{hora}}
													</mat-option>
												</mat-select>
											</div>
											<div class="col-2">
												<mat-select
													formControlName="vieBegMer"
													>
													<mat-option
														*ngFor="let mer of meridiano"
														[value]="mer">
															{{mer}}
													</mat-option>
												</mat-select>
											</div>
											<div class="col-auto">a </div>
											<div class="col-2">
												<mat-select
													formControlName="vieEnd"
													>
													<mat-option
														*ngFor="let hora of horas"
														[value]="hora">
															{{hora}}
													</mat-option>
												</mat-select>
											</div>
											<div class="col-2">
												<mat-select
													formControlName="vieEndMer"
													>
													<mat-option
														*ngFor="let mer of meridiano"
														[value]="mer">
															{{mer}}
													</mat-option>
												</mat-select>
											</div>
										</div>
										<div class="row">
											<div class="col-2">
												<mat-checkbox
													formControlName="sabado"
												>
													Sábado
												</mat-checkbox>
											</div>
											<div class="col-auto">De</div>
											<div class="col-2">
												<mat-select
													formControlName="sabBeg"
													>
													<mat-option
														*ngFor="let hora of horas"
														[value]="hora">
															{{hora}}
													</mat-option>
												</mat-select>
											</div>
											<div class="col-2">
												<mat-select
													formControlName="sabBegMer"
													>
													<mat-option
														*ngFor="let mer of meridiano"
														[value]="mer">
															{{mer}}
													</mat-option>
												</mat-select>
											</div>
											<div class="col-auto">a </div>
											<div class="col-2">
												<mat-select
													formControlName="sabEnd"
													>
													<mat-option
														*ngFor="let hora of horas"
														[value]="hora">
															{{hora}}
													</mat-option>
												</mat-select>
											</div>
											<div class="col-2">
												<mat-select
													formControlName="sabEndMer"
													>
													<mat-option
														*ngFor="let mer of meridiano"
														[value]="mer">
															{{mer}}
													</mat-option>
												</mat-select>
											</div>
										</div>
										<div class="row">
											<div class="col-2">
												<mat-checkbox
													formControlName="domingo"
												>
													Domingo
												</mat-checkbox>
											</div>
											<div class="col-auto">De</div>
											<div class="col-2">
												<mat-select
													formControlName="domBeg"
													>
													<mat-option
														*ngFor="let hora of horas"
														[value]="hora">
															{{hora}}
													</mat-option>
												</mat-select>
											</div>
											<div class="col-2">
												<mat-select
													formControlName="domBegMer"
													>
													<mat-option
														*ngFor="let mer of meridiano"
														[value]="mer">
															{{mer}}
													</mat-option>
												</mat-select>
											</div>
											<div class="col-auto">a </div>
											<div class="col-2">
												<mat-select
													formControlName="domEnd"
													>
													<mat-option
														*ngFor="let hora of horas"
														[value]="hora">
															{{hora}}
													</mat-option>
												</mat-select>
											</div>
											<div class="col-2">
												<mat-select
													formControlName="domEndMer"
													>
													<mat-option
														*ngFor="let mer of meridiano"
														[value]="mer">
															{{mer}}
													</mat-option>
												</mat-select>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card mt-1 mb-0">
					<div class="card-header pb-0">
						<h5 class="card-title">Funciones del puesto <small>*</small></h5>
					</div>
					<div class="card-body pt-0">
						<mat-form-field>
							<textarea
							matInput
							formControlName="funcionesPuesto"
							[errorStateMatcher]="matcher"
							rows="4"
							draggable="false"
							type="text">
							</textarea>
							<mat-error
								*ngIf="funcionesPuesto.hasError('required')"
							>
								Campo requerido
							</mat-error>
						</mat-form-field>
					</div>
				</div>
				<div class="card mt-1 mb-0">
					<div class="card-header pb-0">
						<h5 class="card-title">Requerimientos del puesto</h5>
					</div>
					<div class="card-body pt-0">
						<div class="row">
							<div class="col">
								<mat-form-field>
									<mat-label>Género</mat-label>
									<mat-select
										formControlName="generoPuesto"
										name="Cualquier género"
										[errorStateMatcher]="matcher"
										ariaLabel="genero[0]"
										required
										>
										<mat-option
											*ngFor="let genero of generos"
											[value]="genero.value">
												{{ genero.viewValue }}
										</mat-option>
									</mat-select>
									<mat-error
										*ngIf="generoPuesto.hasError('required')"
									>
										Campo requerido
									</mat-error>
								</mat-form-field>
							</div>
							<div class="col">
								<mat-form-field>
									<mat-label>Edad</mat-label>
									<mat-select
										formControlName="edad"
										ariaLabel="rangosEdad[0]"
										[errorStateMatcher]="matcher"
										required
										>
										<mat-option
											*ngFor="let rangoedad of rangosEdad"
											[value]="rangoedad.value">
												{{ rangoedad.viewValue }}
										</mat-option>
									</mat-select>
									<mat-error
										*ngIf="edad.hasError('required')"
									>
										Campo requerido
									</mat-error>
								</mat-form-field>
							</div>
							<div class="col">
								<mat-form-field>
									<mat-label>Estado Civil</mat-label>
									<mat-select
										formControlName="estadoCivil"
										name="Casado"
										ariaLabel="estadosCivil[0]"
										[errorStateMatcher]="matcher"
										required
										>
										<mat-option
											*ngFor="let estCiv of estadosCivil"
											[value]="estCiv.value">
												{{ estCiv.viewValue }}
										</mat-option>
									</mat-select>
									<mat-error
										*ngIf="estadoCivil.hasError('required')"
									>
										Campo requerido
									</mat-error>
								</mat-form-field>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<mat-form-field>
									<mat-label>Nivel de Estudios</mat-label>
									<mat-select
										formControlName="estudiosProfesion"
										ariaLabel="nivelesEstudios[0]"
										[errorStateMatcher]="matcher"
										required
										>
										<mat-option
											*ngFor="let nivel of nivelesEstudios"
											[value]="nivel.value">
												{{ nivel.viewValue }}
										</mat-option>
									</mat-select>
									<mat-error
										*ngIf="estudiosProfesion.hasError('required')"
									>
										Campo requerido
									</mat-error>
								</mat-form-field>
							</div>
							<div class="col">
								<mat-form-field>
									<mat-label>Competencias</mat-label>
									<mat-select
										formControlName="competencias"
										ariaLabel="opcCompetencias[0]"
										[errorStateMatcher]="matcher"
										required
										multiple
										>
										<mat-option
											*ngFor="let comp of opcCompetencias"
											[value]="comp.value">
												{{ comp.viewValue }}
										</mat-option>
									</mat-select>
									<mat-error
										*ngIf="competencias.hasError('required')"
									>
										Campo requerido
									</mat-error>
								</mat-form-field>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<mat-form-field>
									<mat-label>Años de experiencia</mat-label>
									<mat-select
										formControlName="experiencia"
										name="1-3 años"
										ariaLabel="exper[1]"
										[errorStateMatcher]="matcher"
										required
										>
										<mat-option
											*ngFor="let ex of exper"
											[value]="ex.value">
												{{ ex.viewValue }}
										</mat-option>
									</mat-select>
									<mat-error
										*ngIf="experiencia.hasError('required')"
									>
										Campo requerido
									</mat-error>
								</mat-form-field>
							</div>
							<div class="col" *ngIf="experiencia.value !== 'Sin experiencia' && experiencia.value !== '' ">
								<mat-form-field>
									<mat-label>Experiencia específica en</mat-label>
									<textarea
									matInput
									formControlName="experienciaEn"
									[errorStateMatcher]="matcher"
									rows="2"
									draggable="false"
									[required]="experiencia.value !== 'Sin experiencia' && experiencia.value !== ''"
									type="text">
									</textarea>
								</mat-form-field>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="togglebutton">
									<label>
										<input
											type="checkbox"
											formControlName="disponibilidadViajar"
										>
										<span class="toggle"></span>
										Disponibilidad para viajar
									</label>
								</div>
							</div>
							<div class="col">
								<mat-form-field>
									<mat-label>Porcentaje de Inglés</mat-label>
									<input
										matInput
										type="number"
										formControlName="porcentajeIngles"
										[errorStateMatcher]="matcher"
										id="porcentajeIngles"
										>
									<mat-error
										*ngIf="porcentajeIngles.hasError('max')"
									>
										Porcentaje no debe ser mayor a 100
									</mat-error>
								</mat-form-field>
							</div>
						</div>
						<div class="row">
							<div class="col fondoClaro">
								<div class="row">
									<div class="col">
										<h5>Rango de sueldo</h5>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<mat-form-field>
											<mat-label>Sueldo Base</mat-label>
											<input
												matInput
												type="number"
												formControlName="sueldoMinimo"
												id="sueldoMinimo"
												>
										</mat-form-field>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<mat-form-field>
											<mat-label>Sueldo Máximo</mat-label>
											<input
												matInput
												type="number"
												formControlName="sueldoMaximo"
												id="sueldoMaximo"
												>
										</mat-form-field>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="row">
									<div class="col">
										<mat-form-field>
											<mat-label>Tipo de contrato</mat-label>
											<mat-select
												formControlName="tipoContrato"
												name="Planta"
												ariaLabel="tiposContrato[0]"
												[errorStateMatcher]="matcher"
												required
												>
												<mat-option
													*ngFor="let tipo of tiposContrato"
													[value]="tipo.value">
														{{ tipo.viewValue }}
												</mat-option>
											</mat-select>
											<mat-error
												*ngIf="tipoContrato.hasError('required')"
											>
												Campo requerido
											</mat-error>
										</mat-form-field>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<mat-form-field>
											<mat-label>Persona que entrevista</mat-label>
											<input
												matInput
												type="text"
												formControlName="personaEntrevista"
												[errorStateMatcher]="matcher"
												required
												id="personaEntrevista"
												>
											<mat-error
												*ngIf="personaEntrevista.hasError('required')"
											>
												Campo requerido
											</mat-error>
										</mat-form-field>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card mt-1 mb-0">
					<div class="card-header pb-0">
						<h5 class="card-title">Comentarios</h5>
					</div>
					<div class="card-body">
						<mat-form-field>
							<textarea
							matInput
							formControlName="comentarios"
							rows="4"
							draggable="false"
							type="text">
							</textarea>
						</mat-form-field>
					</div>
				</div>
			</div>
		</div>
		<div class="card-footer">
			<button
				mat-raised-button
				class="btn btn-sm btn-success"
				(click)="submit();"
				>
					Solicitar <i class="fas fa-paper-plane"></i>
				</button>
		</div>
	</div>
</div>
