<br><br><br><br>

<div *ngIf="loading">
	<div class="row text-center animated fadeIn">
		<div class="col ">
			<i class="fas fa-sync fa-spin fa-5x"></i>
		</div>
	</div>
	<div class="row text-center">
		<div class="col">
			<h1>Cargando componentes ... </h1>
		</div>
	</div>
</div>

<div *ngIf="!loading" class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-10 ml-auto mr-auto">
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">{{curso.title}} -
							<small>{{curso.code}}</small>
						</h3>
					</div>
					<div class="card-body">
						<ul class="nav nav-pills nav-pills-primary" role="tablist">
							<li class="nav-item">
								<a href="#description"
									class="nav-link active"
									data-toggle="tab"
									role="tablist"
									>
									<!-- <i class="fas fa-book-reader"></i> Descripción del curso -->
									Descripción
									</a>
							</li>
							<li class="nav-item">
								<a href="#data"
									class="nav-link"
									data-toggle="tab"
									role="tablist"
									>
									<!-- <i class="fas fa-info"></i> Características -->
									Información
									</a>
							</li>
							<li class="nav-item">
								<a href="#agenda"
									class="nav-link"
									data-toggle="tab"
									role="tablist"
									>
									<!-- <i class="fas fa-list"></i> Temario -->
									Temario
									</a>
							</li>
						</ul>
						<div class="tab-content tab-space">
							<div class="tab-pane active" id="description">
								<div class="row">
									<div class="col-md-3">
										<img class="img-fluid rounded" [src]="curso.image" alt="{{curso.code}}">
									</div>
									<div class="col-md" [innerHTML]="curso.description">
									</div>
								</div>
								<!-- <div class="row" *ngIf="curso.type == 'tutor'" >
									<div class="col">
										<b class="text-danger">
											*Espera las fechas de este curso para poder tomarlo
										</b>
									</div>
								</div> -->
							</div>
							<div class="tab-pane" id="data">
								<div class="row">
									<div class="col-md-3">
										<img class="img-fluid rounded" [src]="curso.image" alt="{{curso.code}}">
									</div>
									<div class="col">
										<div class="row">
											<div class="col-sm-6 col-md-3 border-top border-success children">
												Nivel
											</div>
											<div class="col-sm-6 col-md border-top border-success children">
												<span *ngIf="curso.level == 'basic'">
													<b>Básico</b>
												</span>
												<span *ngIf="curso.level == 'intermediate'">
													<b>Intermedio</b>
												</span>
												<span *ngIf="curso.level == 'advanced'">
													<b>Avanzado</b>
												</span>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6 col-md-3 border-top border-success children">
												Duración
											</div>
											<div class="col-sm-6 col-md border-top border-success children">
													<b>{{curso.duration}}
 												<span *ngIf="curso.durationUnits == 'h'">
 													Horas
 												</span>
 												<span *ngIf="curso.durationUnits == 'd'">
 													Días
 												</span>
 												<span *ngIf="curso.durationUnits == 'w'">
 													Semanas
 												</span>
 												</b>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6 col-md-3 border-top border-success children">
												Tipo
											</div>
											<div class="col-sm-6 col-md border-top border-success children">
													<span *ngIf="curso.type == 'tutor'">
														<b>Tutorado</b><br />
														Este curso se imparte en línea, pero acompañado de un tutor, por lo que deberás solicitarlo aquí y realizar el pago correspondiente.
													</span>
													<span *ngIf="curso.type == 'self-paced'">
														A tu ritmo
													</span>
											</div>
										</div>
										<div class="row" *ngIf="curso.type !== 'tutor'">
											<div class="col-sm-6 col-md-3 border-top border-success children">
												Costo de inversión
											</div>
											<div class="col-sm-6 col-md border-top border-success children">
												Gratuito<br />
												Al finalizar el curso podrás tramitar y obtener una constancia oficial de acreditación verificada, que comprueba tus conocimientos y habilidades adquiridas
											</div>
										</div>
										<div class="row" *ngIf="curso.details">
											<div class="col-sm-6 col-md-3 border-top border-success children">
												Detalle
											</div>
											<div class="col-sm-6 col-md border-top border-success children">
												<div [innerHTML]="curso.details">
												</div>
											</div>
										</div>
										<!-- <div class="row" *ngIf="curso.discount == 0">
											<div class="col">
												Precio: {{curso.duration * margin | currency: 'MXN'}}
											</div>
										</div>
										<div class="row" *ngIf="curso.discount > 0">
											<div class="col">
												<s class="text-muted">Precio: {{curso.duration * margin | currency: 'MXN'}}</s>
											</div>
										</div>
										<div class="row" *ngIf="curso.discount > 0">
											<div class="col text-danger">
												<b>Precio: {{curso.duration * margin * (1 - (curso.discount/100)) | currency: 'MXN'}}</b>
											</div>
										</div> -->
									</div>
								</div>
							</div>
							<div class="tab-pane" id="agenda">
								<div class="row">
									<div class="col-md-3">
										<img class="img-fluid rounded" [src]="curso.image" alt="{{curso.code}}">
									</div>
									<div class="col-md">
										<ul class="list-unstyled">
											<li *ngFor="let item of blocks">
												<h5 *ngIf="item.number==0">
													{{item.section}}.{{item.title}} <span *ngIf="item.beginDate" class="text-right text-secondary"> | <i class="far fa-calendar-alt"></i> Fecha de inicio: {{item.beginDate | date}}</span> <span *ngIf="item.endDate" class="text-right text-secondary"> | <i class="far fa-calendar-alt"></i> Fecha de término: {{item.endDate | date}}</span><span *ngIf="item.duration" class="text-right text-secondary"> | <i class="far fa-clock"></i> Duración:{{item.duration}}</span>
												</h5>
												<span *ngIf="item.number!=0" class="text-primary">
													&nbsp; {{item.section}}.{{item.number}} {{item.title}}
												</span>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card-footer">
						<button
							class="btn btn-success float-left"
							[routerLink]="['/pages/catalog']">
							<i class="fas fa-reply"></i>
						</button>
						<button
							mat-raised-button
							class="btn btn-rose float-right"
							(click)="goGoogleForms();"
							*ngIf="curso.type === 'tutor' && selfRegister"
							[disabled]="curso.hideEnroll"
							>
							Solicitar
						</button>
						<button
							mat-raised-button
							class="btn btn-rose float-right"
							(click)="goEnroll(curso._id, curso.title);"
							*ngIf="curso.type !== 'tutor' && selfRegister"
							>
							Inscribirme
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
