<acl-navbar></acl-navbar>
<section class="pt-5 mt-5 pb-3">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col col-md-8 text-center">
				<img src="assets/img/acl_main.png" alt="ACL Systems" width="250px;">
				<h2 class="text-center">Gracias {{calendly.invitee_first_name}}</h2>
				<p class="text-center">Tenemos ya agendada tu solicitud. Los detalles del evento se te enviaron al correo que nos proporcionaste.</p>
			</div>
		</div>
	</div>
</section>
<acl-freshworks></acl-freshworks>
<acl-footer></acl-footer>
