<div class="wrapper">
	<div class="page-header login-page header-filter"
		filter-color="black"
		style="background-image: url('assets/img/reqpassrecover.jpg');
		background-size: cover; background-position: top center;"
		>
		<div class="container index-page">
			<div class="row">
					<div class="col-lg-5 col-md-6 col-sm-6 ml-auto mr-auto">
						<div class="card card-login">
							<div class="card-header card-header-primary text-center">
								<p class="h3">Recuperar Acceso</p>
							</div>
							<div class="card-body">
								<form class="form" [formGroup]="recoverForm">
									<div class="input-group text-center">
										<input
										type="text"
										class="form-control"
										placeholder="Ingresa tu correo electrónico"
										required
										formControlName="username"
										>
									</div>
									<div
										class="text-danger"
										*ngIf="(username.dirty || username.touched) && username.invalid && username.errors.required">
										<small>* Coloca tu cuenta de correo</small>
									</div>
									<div
										class="text-danger"
										*ngIf="username.errors?.pattern">
										<small>* La cuenta debe ser un correo válido y en minúsculas</small>
									</div>
									<!-- <span *ngIf="!dataIsOk" class="text-danger">Ingresa tu correo electrónico</span> -->
									<div *ngIf="recoveryCode">
										<h3 class="text-danger">No cierres esta ventana todavía</h3>
										<p class="text-danger">
											En unos segundos te deberá llegar un correo electrónico con un número de 6 dígitos.
											</p>
										<p>Teclea los 6 dígitos aquí:</p>
										<input type="text" max-maxlength="1" id="input-0" class="myBox" pattern="[0-9]" (keypress)="addNumbers($event)">
										<input type="text" max-maxlength="1" id="input-1" class="myBox" pattern="[0-9]" (keypress)="addNumbers($event)">
										<input type="text" max-maxlength="1" id="input-2" class="myBox" pattern="[0-9]" (keypress)="addNumbers($event)">
										<input type="text" max-maxlength="1" id="input-3" class="myBox" pattern="[0-9]" (keypress)="addNumbers($event)">
										<input type="text" max-maxlength="1" id="input-4" class="myBox" pattern="[0-9]" (keypress)="addNumbers($event)">
										<input type="text" max-maxlength="1" id="input-5" class="myBox" pattern="[0-9]" (keypress)="addNumbers($event)">
										<button class="btn btn-sm btn-danger" (click)="resetFields();">Borrar los dígitos</button>
										<p>Código: {{code}}</p>
									</div>
								</form>
								<div
									*ngIf="!useRegister"
									class="form-group text-center">
									<button
										type="button"
										class="btn btn-success"
										id="submitRequest"
										(click)="submitRequest();"
										>
										<i class="far fa-window-restore"></i>
										Recuperar Acceso
									</button>
								</div>
								<div
									*ngIf="useRegister"
									class="form-group text-center">
									<div class="btn-group" role="group">
										<button
											type="button"
											class="btn btn-success"
											id="submitRequest"
											(click)="submitRequest();"
											>
											<i class="far fa-window-restore"></i>
											Recuperar acceso
										</button>
										<button
											type="button"
											class="btn btn-rose"
											(click)="goRegister();"
											>
											<i class="far fa-window-restore"></i>
											Registrarme
										</button>
									</div>

								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>
