<acl-navbar></acl-navbar>
<section class="p-0 m-0 mt-5">
	<div class="container-fluid p-0 ">
		<div class="row d-md-flex-row h-100 no-gutters overflow-hidden">
			<div class="col-md-6    bg-primary pr-0 pl-0  d-flex text-center align-content-center text-white overflow-hidden">
				<a class="card bg-dark text-white  border-0  ">
					<img class="card-img" src="assets/img/our_team.jpg"
						alt="Nuestro equipo">
					<div class="card-img-overlay p-1 d-flex  flex-column  align-items-baseline justify-content-center ">
						<div class="container-fluid    text-center">
							<div class="row">
								<div class="col-12 text-center">
									<div class="icon-wrap text-primary d-flex justify-content-center my-3">
										<div class="d-flex border-0 align-items-center justify-content-center text-white">
											<h1 class="mt-md-5 pr-md-5 pl-md-5">El equipo ACL Systems</h1>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-6 bg-light d-flex align-items-center   overflow-hidden">
				<div class="align-self-center mt-md-5 mb-md-5 pb-5 pl-md-5 pr-md-5">
					<img src="assets/img/acl_main.png" alt="ACL Systems" class="mx-auto d-block" width="15%">

					<p class="text-h3 lead pr-md-5 pl-md-5">ACL Systems es una empresa 100% mexicana. Con más de 25 años de experiencia en tecnologías de información. Nos hemos dedicado a la mejora de prácticas empresariales. Somos partners de empresas internacionales de Software y también desarrollamos sistemas, aplicaciones e integraciones ajustadas a las necesidades de tu negocio y a tu presupuesto.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="pt-1 pb-1">
	<div class="container-fluid">
		<div class="row d-flex">
			<div class="col-md-12">
				<div class="card text-center border-0">
					<div class="card-body pt-3 pb-1">
						<p class="lead pb-0 mb-1">Hazlo fácil. ¿Quiéres conocer más?
							<a [routerLink]="['/nosotros']" fragment="calendlyContainer" class="btn btn-round btn-danger btn-rised ml-md-4">Contáctanos ahora</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="pt-5 pb-1">
	<div class="container">
		<div class="row text-left d-flex justify-content-between pt-4">
			<div class="col-12 col-md-6 pr-md-5 ">
				<h5 class="text-muted text-uppercase mb-1">Haznos parte de tu equipo</h5>
				<h3>Nos dedicamos a transformar tu empresa al mundo digital</h3>
				<p class="text-h3 mt-4 text-justify">Tu empresa ya no puede hacer negocios como se hacían hace años. La pandemia nos ha enseñado que la digitalización de tu negocio no es una opción más... <span class="text-danger">¡Es la única opción!</span></p>
				<p class="text-justify">En ACL Systems lo sabemos y también sabemos que existen muchas maneras de digitalizar tu negocio, pero, tienes el tiempo y el dinero para hacerlo? Nosotros lo hacemos por ti. Déjanos ayudarte. Tenemos planes que se ajustan a cualquier presupuesto.</p>
			</div>
			<div class="col-12 col-md-6">
				<div class="row text-left pt-4">
					<div class="col-12 col-md-12 pr-md-5 pl-md-5">
						<h4>Automatiza tu negocio</h4>
						<p class="text-h3 text-muted text-justify">Sabemos que digitalizar tu empresa podría parecer algo muy complejo. Nosotros te la ponemos <span class="text-primary"><b>fácil</b></span>. Los sistemas de nube que trabajamos usan el modelo de <span class="text-secondary">Paga lo que usas</span>, así que tú decides cuánto quieres gastar.</p>
					</div>
				</div>
				<hr class="mt-2 mb-2">
				<div class="row text-left pt-3">
					<div class="col-12 col-md-12 pr-md-5 pl-md-5">
						<h4>¿Así... o más fácil?</h4>
						<p class="text-h3 text-muted text-justify">Nuestras aplicaciones están listas para usarse. Solo escoge el plan que necesitas y úsalo. Así de fácil. </p>
						<p class="text-h3 text-muted text-justify">Y si necesitas un desarrollo a la medida no tienes que gastar absolutamente nada hasta que lo pongamos en producción. Nuestro modelo de desarrollo de aplicaciones nos permite trabajar de forma rápida para que puedas utilizar tu aplicación lo antes posible. Y lo mejor de todo: nuestros desarrollos también las montamos en la nube, por lo que no tendrás que descapitalizarte (no tienes que comprar servidores, hospedajes, ni otros componentes), solo paga lo que uses. ¿Así? o... <span class="text-primary"><b>más fácil</b></span>!</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="pt-1 pb-1">
	<a href=""></a>
	<div class="container-fluid m-0 ">

		<div #calendlyContainer id="calendlyContainer" class="calendly-inline-widget" data-url="https://calendly.com/ventasacl" style="min-width:320px;height:1008px;" data-auto-load="false"></div>
		<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
	</div>
</section>
<acl-footer></acl-footer>
