<acl-navbar></acl-navbar>
<section class="pt-5 pb-5">   
  <div class="card border-0" style="background-image: linear-gradient(#ffe6b3,white)">     
    <div class="container-fluid" >
      <div class="row align-items-center justify-content-between">
        <div class="col-sm col-md-6   mt-4 mt-md-0" >
          <img src=" assets/img/crm1ra.png" alt="Freshworks-crm">
        </div>            
            <div class="col-sm col-md-5  ">
              <button type="button" class="btn btn-warning btn-sm text-black disabled"> CUSTOMER-FOR-LIFE CLOUD </button>
            <h1 class="mb-4 h5">Todos los que estén a favor de un CRM más inteligente, digan "IA"</h1>
          <p class="text-h3" >Con Freshworks CRM que cuenta el asistente con IA Freddy puede descubrir a los mejores clientes potenciales, aumentar la interacción con los clientes, concretar tratos, y consolidar a los clientes existentes con una solución inteligente e integral.</p>
          <p>
            <a href="#" class="btn btn-lg btn-warning text-black mb-2 btn-rounded">Registrarse</a>
            <a href="#" class="btn btn-link-black mb-2 ml-2 ml-2  ">Solicitar Demo</a>
          </p>
        </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal" style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-lg mt-md-5">
        <div class="modal-content mt-5">
          <div class="modal-body bg-dark ">
            <button type="button" class="close text-white" data-dismiss="modal" aria-hidden="true">×</button>
          </div>
          <div class="d-flex justify-content-center">
            <iframe width="800" height="400" src="https://www.freshworks.com/latam/crm/" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="pt-5 pb-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-8 text-center">
          <h1>Miles de clientes satisfechos utilizan nuestras soluciones</h1>
          <img src="assets/img/clientes.png" alt="Freshworks-crm" class="img-fluid mt-5 mb-5" style="margin:auto">
          <h1>Le proporciona todo lo que necesita para encontrar a su audiencia e interactuar con ella.</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="pt-5 pb-5">
    <div class="container">
      <button type="button" class="btn btn-warning btn-sm text-black disabled"> ATRAIGA </button>
      <div class="row justify-content-right align-items-center d-flex">
        <div class="col-md-6 self-align-center  text-right mt-5 mb-5">
          <h1 class="  mt-5     text-xs-center">Tenga conversaciones con contexto. Genere más oportunidades.</h1>
      <br>
          <ul class ="text-left"><h2>Atraiga a visitantes, conviértalos en clientes potenciales y transforme su sitio web en una máquina de generación de clientes potenciales.</h2>
            <br> <li> Principales características:</li>
            <br><li>Comprenda la intención de los visitantes. Realice un seguimiento de las visitas a sus páginas e incluso las acciones en su sitio.</li>
            <br><li>Chatee en tiempo real con los visitantes de la página web utilizando chatbots con IA</li>
            <br> <li>Cree formularios web personalizados y recopile información de los visitantes automáticamente</li>
            <br>  <li>Adapte las campañas de correo electrónico y genere clientes potenciales rentables para las ventas</li>
                  </ul>
                  
          </div>
        <div class="col-md-6 self-align-center  text-right text-center mt-5 mb-5">
            <img src="assets/img/crm2da.png" alt="Freshworks-crm" class="img-fluid mt-5 mb-5" style="margin:auto">
        </div>
      </div>
    </div>
  </section>
  <section class="pt-5 pb-5">
    <div class="container">
      
      <div class="row justify-content-right align-items-center d-flex">
      <div class="col-md-6 self-align-center  text-right text-center mt-5 mb-5">
            <img src="assets/img/crm3ra.png" alt="Freshworks-crm" class="img-fluid mt-5 mb-5" style="margin:auto">
        </div>
        <div class="col-md-6 self-align-center  text-right text-center mt-5 mb-5">
          <button type="button" class="btn btn-warning btn-sm disabled"> INTERACTUE </button>
          <h1 class="  mt-5   text-left text-xs-center">Personalice sus comunicaciones. Aumente la interacción con los clientes.</h1>
          <br>
          <ul class ="text-left"><h2>Identifique a los mejores clientes potenciales, comuníquese a través de los canales de su elección y personalice los mensajes en función del comportamiento y la intención para captar su atención.</h2>
          <br><li>Principales características:</li>           
          <br><li>Obtenga una visión integral de los clientes. Capte todas las interacciones de los clientes en un solo lugar.</li>             
          <br><li>  Freddy, el asistente con IA,  identifica tus mejores clientes potenciales, los que tienen más probabilidades de conversión </li>           
          <br><li> Establezca correos electrónicos de bienvenida o procesos personalizados basados en acciones</li>             
          <br><li>  Comuníquese por teléfono, correo electrónico, WhatsApp, chat</li>
          </ul>
          </div>
      </div>
    </div>
  </section>
  <section class="pt-5 pb-5">
    <div class="container">
      <button type="button" class="btn btn-warning btn-sm disabled"> CLOSE </button>
      <div class="row justify-content-right align-items-center d-flex">
        <div class="col-md-6 self-align-center  text-right mt-5 mb-5">
          <h1 class="  mt-5     text-xs-center">Use la IA para eliminar desorden. Concrete tratos más rápido.</h1>
          <br>
          <ul class ="text-left"><h2>Pipeline Management 2.0 ya está disponible. Freddy, el asistente con IA, analiza el embudo de ventas y lo ayuda a concentrarse en los tratos que generarán ingresos. Obtenga información en todo el embudo con atribución multitáctil.</h2>
          <br><li>Principales características:</li>
          <br><li>ea cómo se mueven sus tratos en todas las etapas. Revise los tratos que necesita cerrar y actúe sobre ellos.</li>          
          <br><li>Freddy, el asistente con IA, analiza cada trato y lo ayuda al brindarle información y los mejores pasos a seguir</li>
          <br><li>Cree un pronóstico preciso con tecnología de IA y ayude a los equipos de ventas a actuar</li>            
          <br><li> Utilice la colaboración de todos los departamentos en Slack para cerrar los tratos más rápido</li>
          </ul>
          </div>
        <div class="col-md-6 self-align-center  text-right text-center mt-5 mb-5">
            <img src="assets/img/crm4ta.png" alt="Freshworks-crm" alt="" class="img-fluid mt-5 mb-5" style="margin:auto">
        </div>
      </div>
    </div>
  </section>
  <section class="pt-5 pb-5">
    <div class="container-fluid">
      <div class="card border-0" style="background-color:#FFFACD">
      <div class="row d-flex justify-content-md-around">
        <div class="col-xs-12 col-sm-6 col-lg-4 mb-5 mt-5 text-center">
            <img src="assets/img/freddy.png" alt="Freshworks-crm">
          <h2 class="mt-3 mb-4">Le presentamos a Freddy, su asistente de CRM inteligente.</h2>
          <p class="lead">Con Freddy, los equipos obtienen un asistente de IA fácil de usar que ofrece automatización inteligente, información predictiva y experiencias personalizadas.
            </p>
          <p class="btn-container">
            <a class="btn btn-outline-warning btn-round" href="#" role="button">Obtenga más información →</a>
          </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4 mb-5 mt-5 text-center">
            <img src="assets/img/fleshwork.png" alt="Freshworks-crm">
          <h2 class="mt-3 mb-4">Suba de nivel con la plataforma Fleshworks</h2>
          <p class="lead">La plataforma Freshworks, abierta y flexible, proporciona API enriquecidas para integraciones personalizadas, soluciones de socios del ecosistema y más de 640 aplicaciones en el mercado.</p>
          <p class="btn-container">
            <a class="btn btn-outline-warning btn-round" href="#" role="button">Obtenga más información →</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  </section>
  <acl-footer></acl-footer>
