<acl-navbar></acl-navbar>
<section class="pt-5 pb-5">
	<div class="container">
		<div class="row text-center">
			<div class="col text-center">
				<h2>Freshworks CRM</h2>
			</div>
		</div>
		<div class="row align-items-center justify-content-between">
			<div class="col-sm-12 col-md-6 p-4">
				<button type="button" class="btn btn-warning btn-sm text-black disabled">CUSTOMER-FOR-LIFE CLOUD</button>
				<h4 class="mb-4 text-justify">Todos los que estén a favor de un CRM más inteligente, digan "IA"</h4>
				<p class="text-h3 text-justify">Con Freshworks CRM que cuenta el asistente con IA Freddy puede descubrir a los mejores clientes potenciales, aumentar la interacción con los clientes, concretar negocios, y consolidar a los clientes existentes con una solución inteligente e integral.</p>
				<p class="text-center">
					<a href="#" class="btn btn-lg btn-warning text-black mb-2 btn-rounded">Regístrate</a>
					<a href="#" class="btn btn-link-black mb-2 ml-2 ml-2">Solicita una Demostración gratuita</a>
				</p>
			</div>
			<div class="col-sm-12 col-md-6 mt-4 mt-md-0" >
				<img src=" assets/img/crm1ra.png" class="img-fluid" alt="Freshworks CRM">
			</div>
		</div>
	</div>
	</section>
	<section class="pt-5 pb-5">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col col-md-8 text-center">
					<h3>Miles de clientes satisfechos utilizan nuestras soluciones</h3>
					<img src="assets/img/clientes.png" alt="Freshworks-crm" class="img-fluid mt-5 mb-5" style="margin:auto">
					<p class="text-justify">Freshworks CRM proporciona todo lo que necesitas para encontrar a tu audiencia e interactuar con ella.</p>
				</div>
			</div>
		</div>
	</section>
	<section class="pt-5">
		<div class="container">
			<button type="button" class="btn btn-warning btn-sm text-black disabled"> ATRAE A TUS CLIENTES</button>
			<div class="row justify-content-right align-items-center d-flex">
				<div class="col-md-6 self-align-center">
					<h2 class="text-xs-center text-justify">Mantén conversaciones con contexto. Genera más oportunidades.</h2>
					<ul class="text-left"><h5 class="text-justify">Atrae visitantes y conviértelos en clientes potenciales. Transforma tu sitio web en una máquina de generación de clientes potenciales.</h5>
						<p> Principales características:</p>
						<li>Entiende la intención de tus visitantes. Realiza un seguimiento de las visitas a tus páginas e incluso las acciones en tu sitio.</li>
						<li>Chatea en tiempo real con los visitantes de tu página web utilizando chatbots con Inteligencia Artificial (IA).</li>
						<li>Crea formularios web personalizados y recopila información de los visitantes automáticamente.</li>
						<li>Adapta las campañas de correo electrónico y genera clientes potenciales rentables para las ventas</li>
					</ul>
				</div>
			<div class="col-md-6 self-align-center  text-right text-center">
						<img src="assets/img/crm2da.png" alt="Freshworks-crm" class="img-fluid">
				</div>
			</div>
		</div>
	</section>
	<section class="p-5">
		<div class="container-fluid">
			<div class="row justify-content-right align-items-center d-flex">
			<div class="col-md-6 self-align-center  text-right text-center">
						<img src="assets/img/crm3ra.png" alt="Freshworks-crm" class="img-fluid" style="margin:auto">
			</div>
			<div class="col-md-6 self-align-center">
					<button type="button" class="btn btn-warning btn-sm disabled"> INTERACTUA</button>
					<h2 class="mt-5 text-left text-xs-center">Personaliza tus comunicaciones. Aumenta la interacción con los clientes.</h2>
					<ul class ="text-justify"><h5>Identifica a los mejores clientes potenciales, comunícate a través de los canales de tu elección y personaliza los mensajes en función del comportamiento y la intención para captar su atención.</h5>
						<li>Principales características:</li>
						<li>Obten una visión integral de tus clientes. Capta todas las interacciones de los clientes en un solo lugar.</li>
						<li>Freddy, el asistente con IA,  identifica tus mejores clientes potenciales, los que tienen más probabilidades de conversión.</li>
						<li>Establece correos electrónicos de bienvenida o procesos personalizados basados en acciones</li>
						<li>Comunícate por teléfono, correo electrónico, WhatsApp, chat, etc.</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section class="p-5">
		<div class="container">
			<button type="button" class="btn btn-warning btn-sm disabled">CIERRA VENTAS</button>
			<div class="row justify-content-right align-items-center d-flex">
				<div class="col-md-6 self-align-center">
					<h2 class="text-xs-center">Usa la IA para eliminar desorden. Concreta negocios más rápido.</h2>
					<ul>
						<h5 class="text-justify">Pipeline Management 2.0 ya está disponible. Freddy, el asistente con IA, analiza el embudo de ventas y lo ayuda a concentrarse en los negocios que generarán ingresos. Obten información en todo el embudo con atribución multitáctil.</h5>
						<li>Principales características:</li>
						<li>Ve cómo se mueven tus negocios en todas las etapas. Revisa los negocios que necesita cerrar y actúa sobre ellos.</li>
						<li>Freddy, el asistente con IA, analiza cada negocio y te ayuda al brindarte información y los mejores pasos a seguir.</li>
						<li>Crea un pronóstico preciso con tecnología de IA y ayuda a tus equipos de ventas a actuar.</li>
						<li>Utilice la colaboración de todos los departamentos en Slack para cerrar los negocios más rápido.</li>
					</ul>
					</div>
				<div class="col-md-6 self-align-center text-center">
					<img src="assets/img/crm4ta.png" alt="Freshworks CRM" class="img-fluid">
				</div>
			</div>
		</div>
	</section>
	<section class="pt-5 pb-5">
		<div class="container-fluid">
			<div class="card border-0">
			<div class="row d-flex justify-content-md-around">
				<div class="col-xs-12 col-sm-6 col-lg-4 text-center">
						<img src="assets/img/freddy.png" alt="Freshworks-crm">
					<h2 class="mt-3 mb-4">Te presentamos a Freddy, tu asistente inteligente para tu CRM.</h2>
					<p class="lead">Con Freddy, tus equipos de ventas obtienen un asistente de IA fácil de usar que ofrece automatización inteligente, información predictiva y experiencias personalizadas.
						</p>
					<p class="btn-container">
						<a class="btn btn-outline-warning btn-round" href="#" role="button">Más información →</a>
					</p>
				</div>
				<div class="col-xs-12 col-sm-6 col-lg-4 text-center">
						<img src="assets/img/fleshwork.png" alt="Freshworks-crm">
					<h2 class="mt-3 mb-4">Sube de nivel con la plataforma Fleshworks</h2>
					<p class="lead">La plataforma Freshworks, abierta y flexible, proporciona API enriquecidas para integraciones personalizadas, soluciones de socios del ecosistema y más de 640 aplicaciones en el mercado.</p>
					<p class="btn-container">
						<a class="btn btn-outline-warning btn-round" href="#" role="button">Más información →</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	</section>
	<acl-footer></acl-footer>
