<div>
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="card mt-1">
					<div class="card-header bg-success">
						<h3 class="card-title text-white">
							{{userTag}}
						</h3>
					</div>
					<div class="card-body">
						<ul class="timeline timeline-simple">
							<li class="timeline-inverted">
								<div class="timeline-badge primary">
									<i class="fas fa-file-invoice"></i>
								</div>
								<div class="timeline-panel bg-light">
									<div class="timeline-heading">
										<span class="badge badge-primary">Febrero 2020</span>
									</div>
									<div class="timeline-body">
										<a href="assets/docs/feb2020.pdf" class="btn btn-link" download>PDF</a>
										<a href="assets/docs/feb2020.xml" class="btn btn-link" download>XML</a>
									</div>
								</div>
							</li>
							<li class="timeline-inverted">
								<div class="timeline-badge primary">
									<i class="fas fa-file-invoice"></i>
								</div>
								<div class="timeline-panel bg-light">
									<div class="timeline-heading">
										<span class="badge badge-primary">Enero 2020</span>
									</div>
									<div class="timeline-body">
										<a href="assets/docs/ene2020.pdf" class="btn btn-link" download>PDF</a>
										<a href="assets/docs/ene2020.xml" class="btn btn-link" download>XML</a>
									</div>
								</div>
							</li>
							<li class="timeline-inverted">
								<div class="timeline-badge success">
									<i class="fas fa-file-invoice"></i>
								</div>
								<div class="timeline-panel bg-light">
									<div class="timeline-heading">
										<span class="badge badge-primary">Diciembre 2019</span>
									</div>
									<div class="timeline-body">
										<a href="assets/docs/dic2019.pdf" class="btn btn-link" download>PDF</a>
										<a href="assets/docs/dic2019.xml" class="btn btn-link" download>XML</a>
									</div>
								</div>
							</li>
							<li class="timeline-inverted">
								<div class="timeline-badge success">
									<i class="fas fa-file-invoice"></i>
								</div>
								<div class="timeline-panel bg-light">
									<div class="timeline-heading">
										<span class="badge badge-primary">Noviembre 2019</span>
									</div>
									<div class="timeline-body">
										<a href="assets/docs/nov2019.pdf" class="btn btn-link" download>PDF</a>
										<a href="assets/docs/nov2019.xml" class="btn btn-link" download>XML</a>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
