<div class="wrapper wrapper-full-page">
	<div class="page-header pricing-page header-filter"
		style="background-image: url('./assets/img/bg0.jpg');  background-size: cover; background-position: top center;">
		<div class="container index-page">
			<div class="row">
				<div class="col-lg-5 col-md-6 col-sm-6 ml-auto mr-auto">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">Recuperando acceso</h3>
						</div>
						<div class="card-body">
							<div [formGroup]="recoverForm">
								<div class="row">
									<div class="col">
										<div class="input-group no-border">
											<input
												type="text"
												class="form-control"
												formControlName="identifier"
												placeholder="Ingresa tu RFC, por favor"
												>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<div class="input-group no-border">
											<input
												type="password"
												class="form-control"
												formControlName="password"
												placeholder="Teclea tu nuevo password"
												>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<div class="input-group no-border">
											<input
												type="password"
												class="form-control"
												formControlName="repPassword"
												placeholder="Teclea otra vez tu nuevo password, por favor"
												>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-footer">
							<button
								mat-raised-button
								class="btn btn-primary btn-block"
								(click)="submit();"
								>
								Recuperar contraseña
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
