<div class="main-content">
	<div class="container-fluid" *ngIf="loading">
		Espera...
	</div>
	<div class="container-fluid" *ngIf="!loading">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">{{ group.name }}</h3>
				<p class="card-category">{{ group.code }}</p>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col">
						<div class="row">
							<div class="col">
								Tipo:
							</div>
							<div class="col">
								{{ group.type }}
							</div>
						</div>
						<div class="row">
							<div class="col bg-light">
								Instructor:<br />
								<button class="btn btn-sm btn-primary" (click)="changeTutor();"><i class="fas fa-chalkboard-teacher"></i> Cambiar</button>
							</div>
							<div class="col bg-light">
								{{ group.instructor.person.name }}
								{{ group.instructor.person.fatherName }}
								<small>({{ group.instructor.person.email }})</small>
							</div>
						</div>
						<div class="row">
							<div class="col">
								Calificación mínima:
							</div>
							<div class="col">{{ group.minGrade }}</div>
						</div>
						<div class="row">
							<div class="col">
								Avance mínimo:
							</div>
							<div class="col">{{ group.minTrack }}</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col">
								Status:
							</div>
							<div class="col" [ngClass]="{'text-success':group.status==='active','text-danger':group.status!=='active'}">
								{{ group.status }}
							</div>
						</div>
						<div class="row">
							<div class="col">
								Unidad:
							</div>
							<div class="col">
								{{ group.orgUnit.name }} <small>({{group.orgUnit.longName}})</small>
							</div>
						</div>
						<div class="row">
							<div class="col">
								Inicio:<br />
								<button class="btn btn-sm btn-primary" (click)="modifyGroup('beginDate');"><i class="fas fa-calendar"></i> Cambiar</button>
							</div>
							<div class="col">{{ group.beginDate | date: 'mediumDate' }}</div>
						</div>
						<div class="row">
							<div class="col">
								Fin:<br />
								<button class="btn btn-sm btn-primary" (click)="modifyGroup('endDate');"><i class="fas fa-calendar"></i> Cambiar</button>
							</div>
							<div class="col">{{ group.endDate | date: 'mediumDate' }}</div>
						</div>
					</div>
				</div>
				<ul class="nav nav-pills nav-pills-primary" role="tablist">
					<li class="nav-item">
						<a href="#rubric" class="nav-link active" data-toggle="tab" role="tablist">Rúbrica</a>
					</li>
					<li class="nav-item">
						<a href="#students" class="nav-link" data-toggle="tab" role="tablist">Participantes</a>
					</li>
					<li class="nav-item">
						<a href="#calendar" class="nav-link" data-toggle="tab" role="tablist">Calendario</a>
					</li>
				</ul>
				<div class="tab-content tab-space">
					<div
						class="tab-pane active"
						id="rubric"
						>
						<div class="row">
							<div class="col">

							</div>
							<div class="col">
								<div class="btn-group">
									<button
										class="btn btn-sm btn-primary"
										(click)="resetRubric();"
									>
										<i class="fas fa-sync"></i> Reset Rúbrica
									</button>
									<button
										class="btn btn-sm btn-success"
										(click)="setRubric();"
									>
										<i class="fas fa-save"></i> Guardar Rúbrica
									</button>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<table
									class="table table-striped"
								>
									<thead>
										<tr>
											<th *ngFor="let header of tableHeaderRubric">
												{{header}}
											</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let block of rubric.rubric">
											<td
												class="text-center"
												[ngClass]="{'font-weight-bold': block.number === 0}"
											>{{block.section}}</td>
											<td
												class="text-center"
												*ngIf="block.number"
												[ngClass]="{'font-weight-bold': block.number === 0}"
											>{{block.number}}</td>
											<td
												[ngClass]="{'font-weight-bold': block.number === 0}"
												*ngIf="block.number === 0"
												colspan="2"
												>
												<span *ngIf="block.title">{{block.title}}</span><span *ngIf="!block.title">--</span></td>
											<td
												[ngClass]="{'font-weight-bold': block.number === 0}"
												*ngIf="block.number !== 0"
												><span *ngIf="block.title">{{block.title}}</span><span *ngIf="!block.title">--</span></td>
											<td>
												<i class="material-icons md-18 text-info"
												style=" vertical-align: middle;"
												*ngIf="block.type==='textVideo' || block.type=='video'">theaters</i>
												<i class="material-icons md-18 text-secondary"
												style=" vertical-align: middle;"
												*ngIf="block.type==='text'">label</i>
												<i class="material-icons md-18 text-danger"
												style=" vertical-align: middle;"
												*ngIf="block.type==='questionnarie'">ballot</i>
												<i class="material-icons md-18 text-success"
												style=" vertical-align: middle;"
												*ngIf="block.type==='task'">create</i>
											</td>
											<td
												class="text-center"
												[ngClass]="{'font-weight-bold': block.number === 0}"
											>
												<div class="row">
													<div class="col-auto">
														<span
															class="badge badge-pill badge-primary pointme"
															(click)="calculateRubric(block.section,block.number,1)"
														>
															<i class="fas fa-plus"></i>
														</span> {{block.w}} <span
															class="badge badge-pill badge-primary pointme"
															(click)="calculateRubric(block.section,block.number,-1)"
														>
															<i class="fas fa-minus"></i>
														</span>
													</div>
													<div class="col-auto">
														({{block.weight}} %)
													</div>
												</div>
											</td>
											<td
												class="text-center"
											>{{block.wq}}</td>
											<td
												class="text-center"
												>{{block.wt}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div
						class="tab-pane"
						id="students"
						>
						<div class="row">
							<div class="col">
								<table
									datatable
									class="table table-striped table-hover"
									cellspacing="0"
									width="100%"
									style="width:100%"
									[dtOptions]="dtOptions"
								>
								<thead>
									<tr>
										<th *ngFor="let header of tableHeaderGroup">
											{{header}}
										</th>
									</tr>
								</thead>
									<tbody>
										<tr *ngFor="let student of group.students">
											<td>{{student.person.name}}</td>
											<td>{{student.person.fatherName}} {{student.person.motherName}}</td>
											<td>{{student.person.email}}</td>
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<th *ngFor="let footer of tableHeaderGroup">
												{{footer}}
											</th>
										</tr>
									</tfoot>
								</table>
							</div>
						</div>
					</div>
					<div 
						class="tab-pane"
						id="calendar"
						>
						<h3>Calendario</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
