<div class="wrapper wrapper-full-page" (scroll)="scrollHandler($event)">
	<div class="page-header pricing-page header-filter"
		style="background-image: url('./assets/img/univ.jpg');  background-size: cover; background-position: top center;">
		<div class="container index-page">
			<div class="row">
				<div class="col-md-8 ml-auto mr-auto">
					<div class="brand">
						<div class="container">
							<div class="row" style="line-height: 200px;">
								<div class="col">
									<img
										class="img-fluid"
										src="./assets/img/conalep_logo_blanco.png"
										alt="Conalep Jalisco"
										style="max-width: 250px;"
									>
								</div>
								<div class="col">
									<img
										class="img-fluid"
										src="./assets/img/superatemx.png"
										alt="Supérate México"
										style="max-width: 250px; vertical-align: middle;"
									>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<h2>Universidad en línea</h2>
									<h4 class="text-"center>Conalep Jalisco en alianza con las becas de Supérate México, pone a tu disposición sus carreras en línea</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="main main-raised">
		<div class="section section-basic">
			<div class="container">
				<img src="/assets/img/derecho.jpg" alt="Licenciatura en derecho" class="img-fluid">
				<div class="title">
					<h2 class="text-primary">
						Licenciatura en derecho
					</h2>
					<small>RVOE: 20170911 | Modalidad: En línea​</small>
				</div>
				<p class="text-justify">La Licenciatura en Derecho forma profesionales litigantes, corporativistas, procesalistas y parlamentarios con capacidad de argumentación y con práctica en juicios orales, para desarrollarse con éxito en todas las áreas del derecho: penal, civil, mercantil, internacional, ambiental, juicio de amparo, electoral y laboral.</p>
				<h3 class="text-primary">Perfiles</h3>
				<h5>Perfil profesional</h5>
				<p class="text-justify">Profesional que toma decisiones para atender las controversias sociales dentro del ámbito privado y público en departamentos de Asesoría Jurídica, Fiscal, Laboral, Administración y Gestión. Así como agentes de la Propiedad Inmobiliaria y Procuradores. Intercesor o un mediador que presta asesoramiento a quienes en una determinada circunstancia necesitan conocer sobre la aplicación de las normas y leyes que rigen la vida de una sociedad como parte del ordenamiento jurídico. Brinda orientaciones jurídicas para el cumplimiento de los deberes y normas que establecen las bases de convivencia social con el propósito de dotar a los miembros de la sociedad de las garantías individuales a las que tienen derecho.</p>
				<h5>Perfil de ingreso</h5>
				<p class="text-justify">Bachillerato concluido, disponibilidad de 17 horas  semanales para el estudio, acceso a Internet, acceso a computadora, capacidad de aprendizaje autónomo, colaborativo y pensamiento crítico.</p>
				<h5>Perfil de egreso</h5>
				<p class="text-justify">El egresado brindará asesoría, representación  y  defensa de los intereses en los distintos asuntos litigiosos tanto en la administración pública como en la iniciativa privada con una visión interdisciplinaria con base en el estado de derecho mexicano.</p>
				<h5>Destrezas en</h5>
				<ul>
					<li>Patrocinar cualquier tipo de asunto jurídico ante las autoridades competentes.</li>
					<li>Actuar con honestidad y honradez, bajo una atmósfera de libertad.</li>
					<li>En el manejo del acervo jurídico, bibliográfico, hemerográfico y mesográfico, de manera interactiva a través de medios electrónicos e informáticos.</li>
					<li>La organización de expedientes e información de índole jurídica, mediante la utilización de herramientas digitales y/o electrónicas.</li>
					<li>Lograr la confianza y credibilidad con sus clientes.</li>
					<li>Transparencia en el manejo y profesionalismo de los asuntos encomendados.</li>
					<li>Establecer estrategias de carácter litigioso ante sus contrapartes.</li>
					<li>Establecer estrategias de mediación  para resolver o evitar conflictos legales ante los órganos jurisdiccionales.</li>
				</ul>
				<h5>Campo Profesional</h5>
				<p class="text-justify">En el Sector Público en el ejercicio de la judicatura en los tribunales del Poder Judicial, como asesor en direcciones o departamentos jurídicos, del gobierno local, Estatal y Federal. En el Sector privado en Departamentos jurídicos de Empresas, industriales, comerciales y de servicios. Organismos sindicales y agrarios y en despachos particulares, como notario público, docente en instituciones de educación superior y como investigador en el campo del derecho.</p>
				<button class="btn btn-primary btn-sm" (click)="info();">Solicitar información</button>
				<hr>
				<img src="/assets/img/admon.jpg" alt="Licenciatura en derecho" class="img-fluid">
				<div class="title">
					<h2 class="text-primary">
						Licenciatura en Administración y Dirección
						</h2>
						<small>RVOE: 20170910 | Modalidad: En línea​</small>
				</div>
				<p class="text-justify">La Licenciatura en Administración y Dirección forma administradores competentes, responsables e íntegros con una visión de alta dirección y con habilidades de liderazgo estratégico.</p>
				<h3 class="text-primary">Perfiles</h3>
				<h5>Perfil profesional</h5>
				<p class="text-justify">La Licenciatura en Administración y Dirección presenta un perfil generalizado y polivalente que permite  adaptarse mejor al mercado laboral, en función de las necesidades de los empleadores, para lo cual se pretende que los educandos practiquen lo que aprendan, que realicen proyectos tal y como se requiere en el ámbito laboral hoy en día. La formación recibida permitirá garantizar un comportamiento organizacional capaz de generar un buen clima que se vea reflejado en la actuación de un liderazgo gerencial moderno, para afrontar los retos y lograr un alto nivel de cohesión de equipos de trabajo, avalados cada miembro con la capacitación, conocimientos y habilidades adecuados a los cambiantes escenarios de la vida moderna.</p>
				<h5>Perfil de ingreso</h5>
				<p class="text-justify">Bachillerato concluido, disponibilidad de 17 horas  semanales para el estudio, acceso a Internet, acceso a computadora, capacidad de aprendizaje autónomo, colaborativo y pensamiento crítico.</p>
				<h5>Perfil de egreso</h5>
				<p class="text-justify">Serás un profesional con amplia visión en los negocios, con sensibilidad para la toma de decisiones, habilidades analíticas, un espíritu emprendedor y altos valores.</p>
				<h5>Destrezas en</h5>
				<ul>
					<li>Cumplimiento de leyes fiscales, laborales  y mercantiles.</li>
					<li>Tomar decisiones orientadas al máximo rendimiento y al mejor aprovechamiento de los recursos.</li>
					<li>Desarrollar proyectos de inversión que permitan el desarrollo económico y financiero de las organizaciones.</li>
					<li>Administrar recursos humanos.</li>
					<li>Administrar sistemas de calidad.</li>
					<li>Intervenir en el desarrollo organizacional.</li>
					<li>Administrar sistemas de producción.</li>
					<li>Administrar un sistema de mercadotecnia que le permita ventajas competitivas.</li>
				</ul>
				<h5>Campo Profesional</h5>
				<p class="text-justify">En organismos gubernamentales, sector particular o de manera independiente.</p>
				<button class="btn btn-primary btn-sm" (click)="info();">Solicitar información</button>
				<hr>
				<img src="/assets/img/compu.jpg" alt="Licenciatura en derecho" class="img-fluid">
				<div class="title">
					<h2 class="text-primary">
						Licenciatura en Ingeniería en Sistemas Computacionales</h2>
						<small>RVOE: 20170912 | Modalidad: En línea​</small>
				</div>
				<p class="text-justify">La Licenciatura en Ingeniería en Sistemas Computacionales tiene como objetivo formar profesionales con conocimientos y habilidades en la administración y el diseño de proyectos de desarrollo de software y hardware, sistemas de información y aplicaciones automatizadas, capaces de formular mediante las tecnologías de la información propuestas innovadoras que contribuyan al incremento de la productividad de la empresa.</p>
				<h3 class="text-primary">Perfiles</h3>
				<h5>Perfil profesional</h5>
				<p class="text-justify">Profesionistas creativos, líderes, preparados en las áreas de informática, sistemas y telecomunicaciones, colaboran en el aumento de la productividad de las instituciones en las que colabora, desarrolla la automatización de procesos además del mantenimiento, selección y aplicación del software, hardware y redes computacionales.</p>
				<h5>Perfil de ingreso</h5>
				<p class="text-justify">Bachillerato concluido, disponibilidad de 17 horas  semanales para el estudio, acceso a Internet, acceso a computadora, capacidad de aprendizaje autónomo, colaborativo y pensamiento crítico.</p>
				<h5>Perfil de egreso</h5>
				<p class="text-justify">El egresado de la Ingeniería en Sistemas Computacionales será capaz de diseñar, implementar y administrar infraestructura computacional, que permita colaborar en el aumento de la productividad de las instituciones en las que colabore, desarrollar la automatización de procesos además del mantenimiento, selección y aplicación del software, hardware y redes computacionales,  para aportar soluciones innovadoras en beneficio de la sociedad, en un contexto global, multidisciplinario y sustentable.</p>
				<h5>Destrezas en</h5>
				<ul>
					<li>Saber expresarse oralmente y por escrito.</li>
					<li>Desarrollar un sistema informático eficiente, que dé solución al problema.</li>
					<li>Definir la complejidad a atender y establecer un sistema.</li>
					<li>Planear, dirigir y gestionar proyectos varios  de software.</li>
				</ul>
				<h5>Campo Profesional</h5>
				<p class="text-justify">En el sector público y en el privado, empresarial e industrial y, en cualquier institución que requiera o utilice los sistemas electrónicos conformados por computadoras con fines productivos, comerciales o de servicios: Administrador de bases de datos, Desarrollador/Programador, Webmaster, Operaciones/Soporte, Desarrollo/Consultoría, Diseño de redes de computadoras, Aplicación de sistemas de seguridad a sistemas computacionales, Desarrollar inteligencia artificial, Asesor y consultor informático.</p>
				<button class="btn btn-primary btn-sm" (click)="info();">Solicitar información</button>
			</div>
		</div>
	</div>
</div>
