<acl-navbar></acl-navbar>
<div class="main-panel">
	<div class="img-src" style="background-image: url('assets/img/cover_4.jpg');">
	</div>
	<div class="container blurred-container">
		<div class="row">
			<div class="col-sm-6 ml-auto mr-auto big-white">
				Hazlo
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 ml-auto mr-auto mt-5 big-white">
				Fácil
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 ml-auto mr-auto mt-5 big-white">
				con
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 ml-auto mr-auto mt-4 big-white">
				<div class="container">
					<div class="row">
						<div class="col p-4 border border-right-0 border-white">
							A
						</div>
						<div class="col p-4 border border-white">
							C
						</div>
						<div class="col p-4 border border-left-0 border-white">
							L
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid main">
		<div class="row">
			<div class="col-md-10 mx-auto">
				<h1 class="tim-title">Las cosas deberían ser fáciles <small>y lo son</small></h1>
				<p class="text-justify">En ACL tenemos claro que el software te debe proporcionar un servicio, el cual debe ser fácil de usar y fácil de implementar. Imagina un software que puedas usar al instante. Solo configurar algunos parámetros iniciales, usuarios, grupos y listo! Eso es nuestro objetivo principal, por eso en ACL Systems desarrollamos y distribuimos software de nube de alta calidad que cumpla con el objetivo principal: ser <b class="text-primary">fácil</b>.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 mx-auto">
				<div class="alert alert-info">
					<h3>Estamos trabajando para tí y actualizando nuestro sitio. <small>¡Espera más noticias pronto!</small></h3>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 mx-auto mb-5">
				<div class="card-deck">
					<div class="card">
						<a href="/#/freshservice">
							<div class="card-header text-center">
								<span class="badge badge-service">Freshservice</span>
							</div>
							<div class="card-body text-center">
								<img src="assets/img/freshservice-light-bg.jpg" alt="Freshservice" class="img-fluid">
								<h5>Ofrece un servicio de calidad a tus clientes y usuarios</h5>
								<ul class="list-unstyled">
									<li>
										ITSM
									</li>
									<li>
										Catálogo de servicios
									</li>
									<li>
										Gestión de solicitudes de servicio
									</li>
									<li>
										Automatización de procesos
									</li>
								</ul>
							</div>
							<div class="card-footer">
								<div class="container text-center">
									<button class="btn btn-secondary">Conoce más</button>
								</div>
							</div>
						</a>
					</div>
					<div class="card">
						<div class="card-header text-center">
							<span class="badge badge-desk">Freshdesk</span>
						</div>
						<div class="card-body text-center">
							<img src="assets/img/freshdesk-light-bg.jpg" alt="Freshdesk" class="img-fluid">
							<h5>Atiende y da soporte a tus clientes y usuarios con calidad</h5>
							<ul class="list-unstyled">
								<li>
									Gestión de incidentes
								</li>
							</ul>
						</div>
						<div class="card-footer">
							<div class="container text-center">
								<button class="btn btn-secondary">Conoce más</button>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header text-center">
							<span class="badge badge-sales">Freshsales</span>
						</div>
						<div class="card-body text-center">
							<img src="assets/img/freshsales-light-bg.jpg" alt="Freshsales" class="img-fluid">
							<h5>Obtén el conocimiento acerca de tus prospectos y cierra negocios más rápido</h5>
							<ul class="list-unstyled">
								<li>
									Gestión de liberaciones y desarrollo de software
								</li>
							</ul>
						</div>
						<div class="card-footer">
							<div class="container text-center">
								<button class="btn btn-secondary">Conoce más</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 mx-auto mb-5">
				<div class="card-deck">
					<div class="card">
						<div class="card-header text-center">
							<span class="badge badge-chat">Freshchat</span>
						</div>
						<div class="card-body text-center">
							<img src="assets/img/freshchat-light-bg.jpg" alt="Freshchat" class="img-fluid">
							<h5>Transforma visitantes a tus páginas web en compradores de tus productos</h5>
							<ul class="list-unstyled">
								<li>
									Chat <span class="text-primary">fácil</span> de usar
								</li>
							</ul>
						</div>
						<div class="card-footer">
							<div class="container text-center">
								<button class="btn btn-secondary">Conoce más</button>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header text-center">
							<span class="badge badge-scrum">Freshrelease</span>
						</div>
						<div class="card-body text-center">
							<img src="assets/img/freshrelease.jpg" alt="Freshrelease" class="img-fluid">
							<h5>Desarrolla software de calidad siguiendo prácticas ágiles</h5>
							<ul class="list-unstyled">
								<li>
									SCRUM
								</li>
							</ul>
						</div>
						<div class="card-footer">
							<div class="container text-center">
								<button class="btn btn-secondary">Conoce más</button>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header text-center">
							<span class="badge badge-caller">Freshcaller</span>
						</div>
						<div class="card-body text-center">
							<img src="assets/img/freshcaller-light-bg.jpg" alt="Freshcaller" class="img-fluid">
							<h5>Conmutador virtual en la nube</h5>
							<ul class="list-unstyled">
								<li>
									<span class="text-primary">Fácil</span>
								</li>
							</ul>
						</div>
						<div class="card-footer">
							<div class="container text-center">
								<button class="btn btn-secondary">Conoce más</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="calendly-inline-widget" data-url="https://calendly.com/ventasacl?hide_landing_page_details=1&hide_gdpr_banner=1&primary_color=8700ff" style="min-width:320px;height:630px;"></div>
	<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>

	<div class="container-fluid main">
		<div class="row">
			<div class="col-md"></div>
			<div class="col-md-2">
				Aviso de privacidad
			</div>
			<div class="col-md-5">
				Derechos Reservados © ACL Systems {{year}}
			</div>
			<div class="col-md-3">
				<a href="https://wa.link/bnn5xq" target="_blank"><i class="fab fa-whatsapp-square fa-2x text-whatsapp social"></i></a>
				<a href="https://m.me/aclsystemsmx" target="_blank"><i class="fab fa-facebook-messenger fa-2x text-facebook social"></i></a>
				<a href="https://www.facebook.com/aclsystemsmx" target="_blank"><i class="fab fa-facebook fa-2x text-facebook social"></i></a>
				<a href="https://youtube.com/channel/UC8omy0P7bsmW_iCaHi2vTfw" target="
				"><i class="fab fa-youtube fa-2x text-youtube social"></i></a>
				<a href="https://www.instagram.com/aclsystemsmx" target="
				"><i class="fab fa-instagram fa-2x text-instagram social"></i></a>
				<a href="https://linkedin.com/company/acl-systems" target="_blank"><i class="fab fa-linkedin fa-2x text-linkedin social"></i></a>
			</div>
			<div class="col-md"></div>
		</div>
	</div>
</div>
